@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
	.brandIntro__area {
		margin-bottom: 15px;
	}
	.brandIntro__left {
		width: 100%;
		padding: 0;
	}

	.brandIntro__left h2 {
		margin: 0 0 20px 0;
	}

	.brandIntro__right {
		width: 100%;
		padding: 15px 0 0 0;
		display: none;
	}
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
	.brandIntro__left h2 {
		margin: 0 0 10px 0;
	}

	.brandIntro__area .xIntro {
		margin-bottom: 10px;
	}
	.brandIntro__area .xMore {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 414px) {
	.brandImgCover__itemOuter_big {
		width: 100%;
	}

	.brandImgCover__itemOuter_small {
		width: 50%;
	}
}

@media only screen and (max-width: 320px) {
}
