@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
	.eCard {
		margin: 5px -5px 0;
	}

	.eCard__itemOuter {
		padding: 5px;
	}

	.eCard__itemContent p {
		font-size: 12px;
	}

	.eCard__itemContent li {
		font-size: 12px;
	}
	.innerPriceBox3 {
		padding: 30px 10px 30px 30px;
	}
	.innerPriceBox3__content {
		padding: 0 20px 0 0;
	}
}

@media only screen and (max-width: 920px) {
	/* .eCard__itemInfoTitle {
    font-size: 1.25rem;
  } */
}

@media only screen and (max-width: 800px) {
	/* .eCard__itemInfoTitle {
    font-size: 1.125rem;
  } */
}

@media only screen and (max-width: 768px) {
	.eCard {
		padding: 20px 0 0 0;
	}
	.eCard__itemOuter {
		width: 100%;
	}
	.eCard__itemOuter {
		width: 100%;
	}
	.eCard__itemTitle {
		font-size: 18px;
	}
	.eCard__itemContent p {
		font-size: 14px;
	}
	.eCard__itemContent li {
		font-size: 14px;
	}
	.eCard__itemImg {
		width: 40%;
	}

	.eCard__itemInfo {
		width: 60%;
	}
	.innerPriceBox {
		width: 70%;
	}
	.innerPriceBox3 {
		width: 70%;
	}
}

@media only screen and (max-width: 600px) {
	.eCard__itemImg {
		width: 45%;
	}

	.eCard__itemInfo {
		width: 55%;
	}
	.innerPriceBox {
		width: 80%;
	}
	.innerPriceBox3 {
		width: 80%;
	}
	.innerPriceBox3__title {
		font-size: 24px;
	}
}

@media only screen and (max-width: 480px) {
	.eCard {
		padding: 10px 0 0 0;
		margin: 0 -5px 0;
	}
	.eCard__itemInfoContent {
		margin: 5px 0 0 0;
	}
	.innerPriceBox {
		width: 90%;
	}
	.innerPriceBox3 {
		width: 90%;
		padding: 20px 10px 20px 20px;
	}
	.eCard__itemTitle {
		font-size: 16px;
	}
	.eCard__itemContent p {
		font-size: 12px;
	}
	.eCard__itemContent li {
		font-size: 12px;
	}
	.eCard__itemContent {
		margin: 5px 0 0 0;
	}
	.innerPriceBox3__content {
		padding: 0 10px 0 0;
	}
}

@media only screen and (max-width: 414px) {
	.innerPriceBtn {
		width: 3rem;
		height: 3rem;
		font-size: 1.5rem;
	}
	.eCard__itemInfo {
		padding: 10px 10px;
	}
	.eCard__itemInfoTitle {
		font-size: 14px;
		font-weight: bold;
	}
	.eCard__itemInfoContent {
		margin: 10px 0 0 0;
	}
	.eCard__itemInfoContent li,
	.eCard__itemInfoContent p {
		font-size: 0.75rem;
	}
	.eCard__itemInfoContent ul {
		padding: 0 0 0 5px;
	}
	/* .eCard__priceBtn {
    position: relative;
    margin: auto 0 0 auto;
    bottom: auto;
    right: auto;
  } */
	.eCard__itemImg {
		width: 50%;
	}

	.eCard__itemInfo {
		width: 50%;
	}
	/* .eCard__itemImg_ap:after {
    padding-top: 100%;
  } */
	.eCard__item_ap {
		align-items: center;
	}
	.eCard__itemInfo_ap {
		padding: 20px 10px;
	}
	.eCard__itemTitle {
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		font-weight: normal;
	}
	.eCard__itemContent p {
		font-size: 12px;
		margin-bottom: 5px;
		line-height: 1.2;
	}
	.eCard__itemContent ul {
		padding: 0;
	}
	.eCard__itemContent li {
		font-style: normal;
		font-weight: 300;
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.04em;
		color: #000;
	}
	.innerPriceBox3__title {
		font-size: 18px;
	}
	.priceBox3__title {
		padding: 10px 0 0 0;
	}
	.priceBox3__title h3 {
		font-size: 16px;
		line-height: 1.2;
	}
	.priceBox3__area {
		margin: 0;
	}
	.priceBox3 table td {
		line-height: 1.2;
	}
	.priceBox3 {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 400px) {
	/* .eCard__itemContent {
    display: none;
  } */
}

@media only screen and (max-width: 320px) {
}
