@media only screen and (max-width: 1200px) {
  .callBackBtn {
    right: 1rem;
  }
  .callBackBtn:hover {
    right: 0.5rem;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .callBackBtn_top {
    top: 50px;
  }
  .callBackBtn {
    left: 1rem;
    right: auto;
    top: 70%;
  }
  .callBackBtn:hover {
    right: auto;
    left: 0.5rem;
  }
  .callBackBtn_top {
    top: 120px;
  }
}

@media only screen and (max-width: 480px) {
  .callBack__form {
    width: 90%;
    padding: 40px 20px 20px;
  }
  .callback input {
    line-height: 2rem;
    margin-bottom: 10px;
  }
  .callback__intro h2 {
    font-size: 1.5rem;
  }
  .form_callbackalrightBox {
    margin-bottom: 10px;
  }
  .callback label {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 414px) {
  .callBack__form {
    padding: 40px 15px 15px;
  }
  .callback__intro {
    margin-bottom: 10px;
  }
  .callback__intro h2 {
    font-size: 1.25rem;
    text-align: center;
  }
  .form_callbackalrightBox span {
    font-size: 0.75rem;
    line-height: 1.2;
  }
  .callBack__close {
    top: 10px;
    right: 10px;
  }
}

@media only screen and (max-width: 320px) {
}
