.commentsCaroucel {
	width: 100%;
	padding: 5px 0 30px;
	position: relative;
	/* margin: 0 -10px; */
}

.commentsCaroucel-container {
	position: relative;
	padding: 10px 0 5px;
	margin: 0 -15px;
}

.commentsCaroucel-wrapper {
	align-items: stretch;
	padding: 0 0 10px 0;
}
.commentsCaroucel-slide {
	height: auto;
}

.commentsCaroucel__left,
.commentsCaroucel__right {
	position: absolute;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	top: 50%;
	margin-top: -26px;
	background: #f6f4ff;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	cursor: pointer;
	transition: all 0.3s;
}

.commentsCaroucel:hover .commentsCaroucel__left,
.commentsCaroucel:hover .commentsCaroucel__right {
	background: #e7e4f4;
}

.commentsCaroucel:hover .commentsCaroucel__left i,
.commentsCaroucel:hover .commentsCaroucel__right i {
	opacity: 1;
	color: #5d4b62;
}

.commentsCaroucel__left:hover,
.commentsCaroucel__right:hover {
	background: var(--color1) !important;
}

.commentsCaroucel__left:hover i,
.commentsCaroucel__right:hover i {
	opacity: 1;
	color: #fff !important;
}

.commentsCaroucel__left:focus,
.commentsCaroucel__right:focus {
	border: none;
	outline: none;
}

.commentsCaroucel__left.disabled,
.commentsCaroucel__right.disabled {
	display: none;
}

.commentsCaroucel__left {
	left: -25px;
}

.commentsCaroucel__right {
	right: -25px;
}

.commentsCaroucel__left i,
.commentsCaroucel__right i {
	font-size: 1.5rem;
	color: var(--color1);
	transition: all 0.3s;
	opacity: 0.2;
}

.commentsCaroucel__left:hover i,
.commentsCaroucel__right:hover i {
	color: #fff;
}

/* .swiper-button-disabled,
.swiper-button-disabled:hover {
  background: #fff;
}
.swiper-button-disabled i {
  color: #ddd;
}
.swiper-button-disabled:hover i {
  color: #ddd;
}

.swiper-button-lock {
  display: none;
} */

.commentsCaroucel__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12px;
	width: 100%;
	display: none;
}

.commentsCaroucel__pagination .swiper-pagination-bullet {
	width: 4px;
	height: 4px;
	display: inline-block;
	border-radius: 100%;
	background: #cecbda;
	opacity: 0.2;
	opacity: 1;
	transition: all 0.3s;
	margin: 0 4px;
}

.commentsCaroucel__pagination .swiper-pagination-bullet-active {
	width: 12px;
	height: 12px;
	background: #5d4b62;
	opacity: 1;
}

.commentsCard__outer {
	padding: 0 15px;
	height: 100%;
}

.commentsCard {
	position: relative;
	padding: 30px;
	background: #ffffff;
	/* box-shadow: 0px 15px 30px rgba(196, 187, 234, 0.45); */
	box-shadow: 0px 5px 10px rgb(0 0 0 / 8%);
	border-radius: 6px;
	height: 100%;
}

.commentsCard__inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.commentsCard__top {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.commentsCard__img {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
}

.commentsCard__info {
	padding: 0 0 0 20px;
	display: flex;
	flex-direction: column;
	min-height: 70px;
}

.commentsCard__name {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #4f4f4f;
	margin-bottom: 4px;
}
.commentsCard__date {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #bdbdbd;
}

.commentsCard__text {
	width: 100%;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	padding: 0 0 20px 0;
	/* height: 230px; */
}

.commentsCard__doktor {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #e0e0e0;
	padding: 20px 0 0 0;
	min-height: 90px;
}

.commentsCard__doktorName {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #4f4f4f;
	margin-bottom: 4px;
}

.commentsCard__doctorPosition {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #bdbdbd;
	margin-top: auto;
}
