@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
	.JS_Filters_run {
		margin: 20px 10px 0 auto;
		width: auto;
		padding: 10px;
	}
	.eFilter__area {
		display: none;
		z-index: 2095;
		position: absolute;
		right: 10px;
		left: 10px;
		top: 40px;
		margin: 0;
		padding: 20px 10px 20px 20px;
	}
	.eFilterResultsCounter {
		display: block;
	}
	.eFilter__content {
		display: block;
	}
	.eFilter__openBtn {
		display: none;
	}
	.eFilter__areaInner {
		max-height: calc(60vh - 200px);
		overflow-y: scroll;
		padding: 0 20px 0 0;
	}
	.eFilterCheckbox {
		padding: 5px 5px 5px 0;
		display: inline-block;
		border: none;
	}

	.eFilterCheckbox:last-child {
		padding: 5px 5px 0 0;
	}

	.eFilterCheckbox label {
		padding: 8px 16px 8px 16px;
		border: 1px solid var(--color1);
		border-radius: 4px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}

	.eFilterCheckbox label::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin-top: 0;
		content: "";
		display: block;
		height: auto;
		width: auto;
		border: none;
		box-sizing: border-box;
		border-radius: 2px;
		z-index: -1;
	}

	.eFilterCheckbox label::after {
		opacity: 0;
	}

	.eFilterCheckbox input[type="checkbox"]:checked + label {
		color: #fff;
		background: var(--color1);
	}
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
