.eShopMenu__mobileBtn {
  display: none;
  width: 100%;
  height: 42px;
  background: #f4e9f6;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #a04faf;
  cursor: pointer;
}
.eShopMenu__mobileBtn {
  display: none;
  width: 100%;
  height: 42px;
  /* background: #f4e9f6; */
  background: #f6e5e4;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--brick);
  cursor: pointer;
  position: relative;
}

.eShopMenu__mobileBtn_active {
  z-index: 2100;
}

.eShopMenu__outer100 {
  width: 100%;
}

/* .eShopMenu__outer_scroll {
  max-height: calc(60vh - 150px);
  overflow-y: scroll;
} */

.eShopMenu {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid #e0e0e0; */
  width: 100%;
}

.eShopMenu li {
  list-style: none;
}

.transformOpen::after {
  transform: rotate(180deg);
}

.esli_inner {
  position: relative;
  border-radius: 4px;
}

/*************************/

.eShopMenu li.lev1 {
  border-bottom: 1px solid #e0e0e0;
}

.eShopMenu li.lev1 > .esli_inner {
  position: relative;
}

.eShopMenu li.lev1 > .esli_inner a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  transition: all 0.3s;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 0;
  color: #333333;
}
.eShopMenu li > .esli_inner a span:last-child {
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 600;
  color: #df2f4e;
  padding: 0 0 0 10px;
}

.eShopMenu li.lev1 > .esli_inner > .openInner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s;
  /* border-bottom: 1px solid #e0e0e0; */
}

.eShopMenu li.lev1 > .esli_inner > .openInner:after {
  content: "\e901";
  font-family: "icomoon";
  font-size: 10px;
  line-height: 10px;
  color: #333;
  transition: all 0.3s;
}

.eShopMenu li.lev1 > ul {
  display: none;
}

.eShopMenu li.lev1.active > ul {
  display: block;
}

.eShopMenu li.lev1 > .esli_inner a:hover {
  color: #df2f4e;
}
.eShopMenu li.lev1 > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev1 > .esli_inner > .openInner:hover:after {
  color: #df2f4e;
}

.eShopMenu li.lev1.active > .esli_inner a {
  color: #7e3692;
}
.eShopMenu li.lev1.active > .esli_inner > .openInner {
}
.eShopMenu li.lev1.active > .esli_inner > .openInner:after {
  color: #7e3692;
}

.eShopMenu li.lev1.active > .esli_inner a:hover {
  color: #df2f4e;
}
.eShopMenu li.lev1.active > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev1.active > .esli_inner > .openInner:hover:after {
  color: #df2f4e;
}

/*************************************************/
.eShopMenu li.lev2 {
  list-style: none;
}

.eShopMenu li.lev2 > .esli_inner {
  position: relative;
}

.eShopMenu li.lev2 > .esli_inner a {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
  color: #4f4f4f;
  transition: all 0.3s;
  position: relative;
}

.eShopMenu li.lev2 > .esli_inner > .openInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.eShopMenu li.lev2 > .esli_inner > .openInner:after {
  content: "\e901";
  font-family: "icomoon";
  font-size: 8px;
  line-height: 8px;
  color: #333;
  transition: all 0.3s;
}

/* .eShopMenu li.lev2 > .esli_inner a:hover {
}
.eShopMenu li.lev2 > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev2 > .esli_inner > .openInner:hover:after {
}

.eShopMenu li.lev2.active > .esli_inner a {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:after {
}

.eShopMenu li.lev2.active > .esli_inner a:hover {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:hover:after {
} */

.eShopMenu li.lev2 > .esli_inner a:hover {
  color: #df2f4e;
}
.eShopMenu li.lev2 > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev2 > .esli_inner > .openInner:hover:after {
  color: #df2f4e;
}

.eShopMenu li.lev2.active > .esli_inner a {
  color: #7e3692;
}
.eShopMenu li.lev2.active > .esli_inner > .openInner {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:after {
  color: #7e3692;
}

.eShopMenu li.lev2.active > .esli_inner a:hover {
  color: #df2f4e;
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:hover {
}
.eShopMenu li.lev2.active > .esli_inner > .openInner:hover:after {
  color: #df2f4e;
}

.eShopMenu li.lev2 > ul {
  display: none;
}

.eShopMenu li.lev2.active > ul {
  display: block;
}

/*******************************************************/

.openInner {
}

.eShopMenu li.lev3 {
  list-style: none;
}

.eShopMenu li.lev3 > .esli_inner a {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 30px;
  text-decoration: none;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.3;
  color: #4f4f4f;
  transition: all 0.3s;
  position: relative;
}

.eShopMenu li.lev3.active > .esli_inner a {
  color: #7e3692;
}

.eShopMenu li.lev3 > .esli_inner:hover {
  background: #f2f2f2;
}

/* .eShopMenu li.lev3.active > .esli_inner a:hover {
  color: #df2f4e;
} */

/* .eShopMenu li span {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--tc0);
  background: var(--x1greySuperLight);
  border-bottom: 1px solid var(--bg2);
  transition: all 0.3s;
  cursor: pointer;
}

.eShopMenu li.active span {
  background: var(--color1);
  border-bottom: 1px solid #fff;
  color: #fff;
}

.eShopMenu li span:hover {
  background: var(--x1greyLight);
}

.eShopMenu li.active span:hover {
  background: var(--color1);
  border-bottom: 1px solid #fff;
  color: #fff;
} */
