.orderDetails2__area {
	padding: 0 0 20px;
	background: #fafafa;
}

.orderDetails2__outer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.orderDetails2__titleOuter {
	display: flex;
	align-items: flex-end;
	margin: 0 0 45px;
}

.orderDetails2__mainTitle {
	display: flex;
}
.orderDetails2__mainTitle h1 {
	margin: 0;
	font-style: normal;
	font-weight: 300;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: 0.04em;
	color: #333333;
}
.orderDetails2__mainTitle span {
	font-style: normal;
	font-weight: 300;
	font-size: 42px;
	line-height: 48px;
	letter-spacing: 0.04em;
	color: #333333;
	margin-left: 20px;
}

.orderDetails2__mainTitleStatus {
	padding-left: 40px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
}

.order-status-0,
.order-status-3,
.order-status-4,
.order-status-5 {
	color: #000;
}
.order-status-1,
.order-status-2 {
	color: red;
}
.order-status-6,
.order-status-7,
.order-status-10 {
	color: #00b000;
}
.order-status-8,
.order-status-9 {
	color: #592004;
}
.order-status-11,
.order-status-12 {
	color: #346ca6;
}

.orderDetails2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	padding: 5px 0 5px 0;
}

.orderDetails2__itemOuter {
	width: 20%;
	padding: 5px;
}

a.orderDetails2__item,
a.orderDetails2__item:hover,
.a.orderDetails2__item:focus {
	text-decoration: none;
}

.orderDetails2__itemImgOuter {
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 133%;
	margin-bottom: 10px;
}

.orderDetails2__item {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid var(--x1border);
	height: 100%;
}

.orderDetails2__itemImg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.orderDetails2__itemImg:before {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

.orderDetails2__itemImg img {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	float: none;
	zoom: 1;
	width: 100%;
	z-index: 5;
	position: relative;
}

.orderDetails2__discount {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	/* margin-left: auto; */
	line-height: 1.5rem;
	padding: 0 5px;
	background: var(--orange);
	color: #fff;
}

.orderDetails2__itemDetails {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.orderDetails2__brand {
	font-size: 0.875rem;
	color: #000;
	font-weight: 300;
	margin-bottom: 5px;
}

.orderDetails2__title {
	font-size: 1.125rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 5px;
}

.orderDetails2__id {
	font-size: 0.75rem;
	color: #000;
	font-weight: 300;
	margin-bottom: 5px;
}

.orderDetails2__size {
	font-size: 1rem;
	color: #000;
	font-weight: 400;
	margin-bottom: 5px;
}

.orderDetails2__priceArea {
	display: flex;
	margin-top: auto;
}

.orderDetails2__oldPrice {
	font-size: 0.875rem;
	color: #000;
	font-weight: 300;
	line-height: 1.5rem;
	text-decoration: line-through;
	margin-right: 10px;
}

.orderDetails2__price {
	font-size: 1.125rem;
	color: #000;
	font-weight: 500;
	line-height: 1.5rem;
	font-weight: 600;
}

.orderDetailsInfo__area {
	border-top: 2px solid var(--colorMediumGrey);
	width: 100%;
	padding: 30px 0 0 0;
}

.orderDetailsInfo {
	display: flex;
	flex-wrap: wrap;
}

.orderDetailsInfo1 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.orderDetailsInfo2 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.orderDetailsInfo__title h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.04em;
	color: #333333;
	margin: 0 0 30px 0;
}

.orderDetailsInfoBox {
	display: flex;
	flex-direction: column;
	padding: 0 20px 30px 0;
}

.orderDetailsInfoBox span {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.04em;
	color: #333333;
}
.orderDetailsInfoBox span:first-child {
	font-weight: normal;
}

.orderDetailsInfoFinish {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px 0 40px 0;
	border-top: 1px solid #e0e0e0;
}

.orderDetailsInfoFinish__totalCount {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
	margin-bottom: 4px;
}

.orderDetailsInfoFinish__totalCost {
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 0.04em;
	color: #333333;
	margin-bottom: 20px;
}

.orderDetailsInfoFinish__text {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	margin-bottom: 20px;
}

.orderDetailsInfoFinish__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	background: var(--red1);
	border-radius: 6px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #fff;
	padding: 16px 0;
	margin-bottom: 48px;
	cursor: pointer;
	transition: all 0.3s;
}
.orderDetailsInfoFinish__btn:hover {
	background: var(--color1);
}

.orderDetailsInfoFinish__btnBack {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #828282;
}
.orderDetailsInfoFinish__btnBack:hover {
	color: var(--red1);
}
.orderDetailsInfoFinish__btnBack i {
	font-size: 18px;
}
.orderDetailsInfoFinish__btnBack span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;

	margin: 0 0 0 20px;
}
