@media only screen and (max-width: 1200px) {
  .split__area {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .eBrands__area {
    width: 25%;
    padding: 0 10px;
  }

  .eBrands__content {
    right: 10px;
    left: 10px;
  }

  .eGreyLine__mbBtnSortOuter {
    display: block;
    width: 25%;
    padding: 0 10px;
  }

  .eGreyLine__mbBtnFiltrOuter {
    display: block;
    width: 25%;
    padding: 0 10px;
  }

  .split__left {
    /* display: none; */
    width: 100%;
  }

  .split__right {
    width: 100%;
    padding: 0;
  }
  .eCatalog {
    margin: -10px -10px 0;
  }
  .eCatalog__itemArea {
    padding: 10px;
    width: 25%;
  }
  .eGreyLine__mbBtns {
    display: flex;

    margin: 0 -10px;
  }

  .split_top {
    margin: 0 -10px;
    width: auto;
  }

  .split__left_top {
    width: 25%;
    padding: 0 10px;
  }

  .split__right_top {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .searchResult__counter {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  .eGreyLine__mbBtnSort {
    width: 100%;
    margin: 0;
  }

  .eGreyLine__mbBtnFiltr {
    width: 100%;
    margin: 0;
  }

  .eGreyLine__outer {
    width: 25%;
    padding: 0 10px;
  }

  .eGreyLine {
    /* width: 33.333%; */
  }

  .eSort__area {
    display: none;
  }

  .eSort__area_mb {
    display: flex;
  }
  .eSort__areaWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2600;
    display: none;
  }

  .eSort__areaOuter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 920px) {
  .eBrands__area {
    width: 33.333%;
  }
  .eCatalog__itemArea {
    width: 33.3333%;
  }
  .eGreyLine__mbBtnSortOuter {
    width: 33.333%;
    margin: 0;
  }

  .eGreyLine__mbBtnFiltrOuter {
    width: 33.333%;
  }
  .eGreyLine__outer {
    width: 100%;
    padding: 0 10px;
  }
  .eBrands__area {
    margin-bottom: 20px;
  }
  .eGreyLine {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .eSort__item {
    margin: 0 10px;
  }
  .split__right_top {
    padding: 0 0 0 20px;
  }
  .searchResult__counter {
    padding: 0 10px 0 10px;
  }
  .eSort__area {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .eGreyLine__mbBtns {
    width: 100%;
  }
  .eBrands__area {
    width: 100%;
    margin-bottom: 10px;
  }
  .eGreyLine__mbBtnSortOuter {
    width: 50%;
    padding: 0 5px 10px 10px;
  }

  .eGreyLine__mbBtnFiltrOuter {
    width: 50%;
    padding: 0 10px 10px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .eCatalog__itemArea {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 414px) {
  .eCatalog__itemArea {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
}
