.title_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabinet2__area {
	position: relative;
}

.cabinet2__outer {
	position: relative;
}

.cab2__tabsArea {
	position: relative;
	width: 100%;
}

.cab2__tabs {
	/* display: flex; */
	position: relative;
	border-bottom: 1px solid #e0e0e0;
}

/* .cab2__tabs:before,
.cab2__tabs:after {
  content: " ";
  display: table;
} */

.cab2__tab:after {
	clear: both;
}

.cab2__tab {
	list-style: none;
	display: inline;
}

a.cab2__tabTitle {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	text-decoration: none;
	padding: 15px 0;
	margin-right: 70px;
	color: #000;
	position: relative;
	border-bottom: 4px solid transparent;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4f4f4f;
}

.cab2__tabTitle.active {
	border-bottom: 4px solid #d74d63;
	color: #d74d63;
}

.cab2__tabTitle i {
	font-size: 1.125rem;
	margin-right: 10px;
}

.cab2__tabTitle span {
	font-size: 1rem;
}

.cab2__tabTitle span.favorInTab {
	width: 1.5rem;
	height: 1.5rem;
	background: #d74d63;
	border-radius: 50%;
	font-weight: bold;
	font-size: 0.75rem;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	margin: 0 0 0 10px;
}

.cab2__tab section {
	display: none;
	z-index: 1;
	width: 100%;
	float: left;
	left: 0;
	/* overflow: hidden; */
}

.cab2__tab section.openSection {
	z-index: 100;
	/* display: block; */
}

.order2__area {
	width: 100%;
}

.order2__outer {
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}

.order2__item {
	width: 50%;
	padding: 10px;
}

.order2 {
	display: flex;
	width: 100%;
	/* border: 1px solid var(--colorGrey); */
	background: #fff;
	padding: 40px 40px 40px 30px;
	text-decoration: none;
	border-radius: 6px;
	transition: all 0.3s;
	height: 100%;
	color: #000;
	justify-content: space-between;
	/* box-shadow: 0px 10px 8px -5px rgba(0, 0, 0, 0.08); */
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
}

a.order2,
a.order2:hover,
a.order2:focus {
	text-decoration: none;
}

.order2:hover {
	/* background: var(--colorLightGrey); */
	/* box-shadow: 0px 10px 8px -5px rgba(196, 187, 234, 0.45); */
	box-shadow: 0px 15px 30px rgba(196, 187, 234, 0.45);
}

.order2__left {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.order2__right {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.order2Thumbs__more {
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4f4f4f;
	margin: 15px 0 0 0;
}

.order2Id {
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	line-height: 1.625rem;
	letter-spacing: 0.04em;
	color: #4f4f4f;
	margin-bottom: 8px;
}

.order2Date {
	margin-bottom: 10px;
	display: flex;
}

.order2Date span {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 1.625rem;
	letter-spacing: 0.04em;
	color: #4f4f4f;
	border-right: 1px solid #e0e0e0;
	padding: 0 8px 0 0;
}
.order2Date span:last-child {
	border: none;
	padding: 0 0 0 8px;
}

.order2Price {
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2rem;
	letter-spacing: 0.04em;
	color: #333333;
	margin-top: auto;
}

.order2Status {
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 1.625rem;
	letter-spacing: 0.04em;
}

.order2Thumbs {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.order2Thumbs__itemArea {
	/* width: 50%; */
	width: 110px;
	padding: 5px;
	position: relative;
	box-sizing: border-box;
}

.order2Thumbs__itemOuter {
	position: relative;
	/* height: 0; */
	border: none;
	/* padding-top: 133%; */
	height: 100%;
}

.order2Thumbs__item {
	/* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
	display: block;
	/* background-position: center center;
  background-size: cover; */
	/* background-repeat: no-repeat; */
	border: 1px solid #eee;
	border-radius: 4px;
	background: #fff;
	overflow: hidden;
	height: 100%;
}
.order2Thumbs__item::before {
	content: "";
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.order2Thumbs__item img {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	float: none;
	zoom: 1;
	width: 100%;
}

.profil2__exit {
	text-decoration: none;
	display: flex;
	align-items: center;
}
.profil2__exit:hover,
.profil2__exit:focus {
	text-decoration: none;
}

.profil2__exit i {
	color: #000;
	font-size: 1.5rem;
}

.profil2__exit:hover i {
	color: var(--orange);
}

a.profil2__exit span {
	color: #000;
	font-size: 0.875rem;
	margin: 0 10px 0 0;
}
a.profil2__exit:hover span {
	color: var(--orange);
}

/*******************/
.profile2__area {
	width: 100%;
}

.profile2__outer {
	width: 100%;
	padding-top: 10px;
}

.profile2 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.profile2__row {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 10px;
}

.profile2__row:nth-child(odd) {
	/* background: #000; */
	background: var(--colorLightGrey);
}

.profile2__rowTitle {
	width: 20%;
	font-size: 1.125rem;
	color: #000;
}

.profile2__rowContent {
	font-size: 1.125rem;
	color: #000;
	font-weight: 600;
}

.profile2__rowContentCorect {
	margin-left: auto;
}

.profile2__rowContentCorect span {
	color: #000;
	font-size: 0.875rem;
}

.profile2__rowContentCorect i {
	color: #000;
	font-size: 1rem;
	display: none;
}

.favTopLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
.favTopLine h2 {
	margin: 0;
}
.favTopLine__btns {
	display: flex;
	align-items: center;
}

.favTotalCount {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #4f4f4f;
}

.favClear {
	margin: 0 0 0 40px;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #828282;
}

/**************************/

.profileZ__area {
	position: relative;
	width: 100%;
	padding: 50px 0 0 0;
}

.profileZ {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profileZ__left {
	width: 40%;
	display: flex;
	flex-direction: column;
}
.profileZ__right {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.profileZ__inputArea {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.profileZ__inputAreaTitle {
	width: 40%;
	padding: 0 10px 0 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #4f4f4f;
}

.profileZinputWrapper {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.profileZinputWrapper label {
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
}
.profileZinputWrapper input {
	font-family: "Roboto Condensed", sans-serif;
	border: none;
	border-bottom: 1px solid #828282;
	margin-bottom: 1px;
	background: transparent;
	padding: 12px 0;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
}

.profileZinputWrapper input:focus {
	border-bottom: 2px solid #4f4f4f;
	margin: 0;
}

.profileZradioWrapper {
	display: flex;
	width: 60%;
	align-items: center;
}

.profileZradioWrapper .zRadio {
	margin-left: 40px;
}
.profileZradioWrapper .zRadio:first-child {
	margin-left: 0;
}

.profileZ__rightInner {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 50px;
}

.profileZ__addressTitle {
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.04em;
	color: #333333;
	margin-bottom: 40px;
}

.profileZ__addressArea {
	width: 100%;
	margin-bottom: 30px;
}

.profileZ__addressArea span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
}

.profileZ__addressInputArea input {
	font-family: "Roboto Condensed", sans-serif;
	border: none;
	border-bottom: 1px solid #828282;
	margin-bottom: 1px;
	background: transparent;
	padding: 12px 0;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #4f4f4f;
	margin-bottom: 30px;
}

.profileZ__addressAreaAdd {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.profileZ__addressAreaAdd i {
	display: flex;
	align-items: center;
	font-size: 11px;
	border: 1px solid #4f4f4f;
	color: #4f4f4f;
	border-radius: 50%;
	padding: 5px;
}

.profileZ__addressAreaAdd span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #828282;
	margin: 0 0 0 20px;
}

.profileZ__addressAreaAdd:hover i {
	border: 1px solid var(--red1);
	color: var(--red1);
}

.profileZ__addressAreaAdd:hover span {
	color: var(--red1);
}

/******************************/
.noOrder__area {
	width: 100%;
}
.noOrder {
	width: 100%;
}

.noOrder p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
}

.noOrder__btn {
	display: flex;
	align-items: center;
	color: #828282;
	transition: all 0.3s;
	cursor: pointer;
}
.noOrder__btn:hover {
	color: var(--red1);
}
.noOrder__btn span {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

/****************************/
.mobileTabs__area {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 20px; */
	display: none;
}

.mobileTabs__title {
	width: 100%;
	height: 2rem;
	border-radius: 4px;
	border: 1px solid #4f4f4f;
}

/* .mobileTabs {
	display: flex;
	flex-direction: column;
	padding: 10px;
} */

.mobileTabs {
	display: block;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #4f4f4f;

	padding: 0.6em 1.4em 0.5em 0.8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #bdbdbd;

	border-radius: 6px;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.65em auto, 100%;
}
.mobileTabs::-ms-expand {
	display: none;
}
.mobileTabs:hover {
	border-color: #888;
}
.mobileTabs:focus {
	border-color: #aaa;

	box-shadow: 0px 15px 30px rgb(196 187 234 / 45%);

	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.mobileTabs option {
	font-weight: normal;
}
*[dir="rtl"] .mobileTabs,
:root:lang(ar) .mobileTabs,
:root:lang(iw) .mobileTabs {
	background-position: left 0.7em top 50%, 0 0;
	padding: 0.6em 0.8em 0.5em 1.4em;
}

.mobileTab {
	font-size: 1.125rem;
	padding-bottom: 10px;
}
.mobileTab:last-child {
	padding-bottom: 0;
}
