.floatBox__area {
  width: 100%;
}

.floatBox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.floatBox__left {
  float: left;
  width: 23%;
  position: relative;
}

.floatBox__right {
  width: 77%;
  float: left;
  padding: 0 0 0 30px;
}

.floatBox__leftOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2090;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.split__area {
  width: 100%;
}

.split {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.split_top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.split__wide {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.split__left {
  width: 23%;
}

.split__right {
  width: 77%;
  padding: 0 0 0 30px;
}

.split__left_top {
  width: 23%;
}

.split__left_topFlex {
  display: flex;
  align-items: center;
  height: 100%;
}

.split__right_top {
  width: 77%;
  padding: 0 0 0 30px;
}

.eCatalog {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px 0;
}

.eCatalog__itemArea {
  padding: 15px;
  width: 33.333%;
}

.eCatalog__itemAreaInWide {
  width: 25%;
}

.eCatalog__item {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-decoration: none;
  height: 100%;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
}

.eCatalog__item:hover {
  /* box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 10px 20px rgba(196, 187, 234, 0.45);
}

.eCatalog__itemImgOuter {
  width: 100%;
  height: 0;
  padding-top: 80%;
  position: relative;
}
.eCatalog__itemImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.eCatalog__itemInfo {
  width: 100%;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.eCatalog__itemTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-bottom: 8px;
}

.eCatalog__itemDesc {
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
  min-height: 66px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.eCatalog__item:hover .eCatalog__itemDesc {
  color: #df2f4e;
}

.eCatalog__itemPrice {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.eCatalog__itemPrice span {
  margin-top: auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #4f4f4f;
}

.eCatalog__itemPrice span:last-child {
  margin: 0 0 0 6px;
}

.eCatalog__itemFav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.eCatalog__itemFav i {
  font-size: 24px;
}

.iconNoFav {
  display: block;
}
.iconInFav {
  display: none;
}

.eCatalog__itemFav:hover .iconNoFav {
  color: #df2f4e;
}

.eBrands__area {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 23%;
  padding: 0;
  float: left;
}

.eBrands__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2090;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.eBrands__btn {
  border: 2px solid var(--brick);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--brick);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  /* z-index: 2100; */
}

.eBrands__btn:hover {
  color: #fff;
  background: var(--brick);
}

.eBrands__btn_active {
  color: #fff;
  background: var(--brick);
  z-index: 2100;
}

.eBrands__content {
  position: absolute;
  right: 0;
  left: 0;
  top: 40px;
  z-index: 2095;
  padding: 40px 3px 40px 30px;
  background: #fff;
  border: 1px solid #cecbda;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(206, 203, 218, 0.55);
  border-radius: 0px 0px 6px 6px;
  display: none;
}

.eBrands__contentInner {
  padding: 0 27px 0 0;
}

.eBrands__contentInner_scroll {
  max-height: calc(60vh - 150px);
  overflow-y: scroll;
}

.eBrands__contentInner_scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #f2f2f2;
}

.eBrands__contentInner_scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f2f2f2;
}

.eBrands__contentInner_scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #cecbda;
}

.scrollHide::-webkit-scrollbar {
  width: 0;
}

/*************/

.aShops__az {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.aShops__azLetterBox {
  width: 100%;
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}
.aShops__azLetterBox:last-child {
  border-bottom: none;
  padding: 10px 0 0;
}

.aShops__azLetterBoxTitle {
  width: 12%;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #9462a2;
}

.aShops__azLetterBoxContent {
  /* border-left: 2px solid var(--x1greyLight); */

  display: flex;
  flex-wrap: wrap;
  width: 88%;
}

.aShops__az_mh {
  min-height: 50vh;
}

.aShops__azItemOuter {
  width: 100%;
}

.aShops__azItem {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  margin-bottom: 5px;
}

.aShops__azItem:hover,
.aShops__azItem:focus {
  text-decoration: none;
  color: var(--orange);
} /********************/

.eGreyLine__outer {
  padding: 0 0 0 30px;
  width: 77%;
  float: left;
}

.eGreyLine {
  background: #f2f2f2;
  /* border: 1px solid #e0e0e0; */
  border-radius: 4px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.eSort__area {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.eGreyLine__mbBtnsOuter {
  width: 66.666%;
  padding: 0 5px 0 0;
}

.eGreyLine__mbBtns {
  display: none;
  justify-content: space-between;
}

.eGreyLine__mbBtnSortOuter {
  padding: 0;
  display: none;
}

.eGreyLine__mbBtnSort {
  border: 2px solid var(--brick);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--brick);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.eGreyLine__mbBtnFiltrOuter {
  padding: 0;
  display: none;
}

.eGreyLine__mbBtnFiltr {
  border: 2px solid var(--brick);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background: var(--brick);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.eGreyLine__mbBtnFiltr span {
  margin: 0 10px 0 0;
}

.eSort__area_mb {
  display: none;
  background: #fff;
  padding: 12px 12px 24px 24px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(206, 203, 218, 55%);
  width: 100%;
  max-width: 300px;
}

.eSort__title {
  display: none;
}

.eSort__item {
  margin: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eSort__item span {
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
}

.eSort__item i {
  font-size: 14px;
  margin: 0 0 0 5px;
  display: none;
}

.eSort__item_active span,
.eSort__item_active i {
  color: #df2f4e;
}

.eSort__item_active.eSort__item_asc i {
  display: block;
}
.eSort__item_active.eSort__item_desc i {
  display: block;
  transform: rotate(180deg);
}

.eSort__title {
  display: none;
}

.searchResult__counter {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
}

.searchResult__counter span {
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
}

.searchResult__counter span:last-child {
  margin: 0 0 0 10px;
  font-weight: 700;
}
