.footer3__area {
  /* background: #f2f2f2; */
  background: var(--brick);
  padding: 70px 0;
}

.footer3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.footer3a {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.footer3__logo {
  width: 102px;
  margin-bottom: 20px;
}
.footer3__logo img {
  display: block;
  width: 100%;
}

.footer3__tm {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 2.5rem;
}
.footer3__tm_first {
  margin-bottom: 10px;
}

.footer3b {
  display: flex;
  width: 65%;
  padding: 0 0 0 20px;
}

.footer3__menuArea {
  display: flex;
  flex-direction: column;
}

.footer3__menuTitle {
  font-size: 16px;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 700;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.footer3__menu {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 0 0;
}

.footer3__menu li {
  list-style: none;
  margin-bottom: 1.25rem;
}

.footer3__menu li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.footer3__menu li a:hover {
  color: var(--reden);
}

.footer__linksTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5rem;
  /* color: #fff; */
  color: #d74d63;
  margin-bottom: 1.25rem;
}

.footerSGlinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.footerSGlinks a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.footerSGlinks a:last-child {
  margin-bottom: 0;
}

.footerSGlinks a:hover p {
  text-decoration: underline;
}

.footerSGlinks a p {
  font-size: 14px;
  line-height: 1.5rem;
  color: #fff;
  text-align: left;
}

.footerSGlinks a span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footerSGlinks a span i {
  font-size: 18px;
  color: #c9a6d5;
  text-decoration: none !important;
  margin: 0 20px 0 0;
}

.footerSGlinks a span i.ig-color {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.footerSGlinks a span i.youtube-color {
  color: #c4302b;
}

.footer3c {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

.oferta {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.125rem;
  color: #fff;
  margin: 0;
}

a.policy1 {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.125rem;
  margin: 0;
  text-transform: capitalize;
  color: #fff;
  text-decoration: underline;
}

a.policy1:hover {
  text-decoration: underline !important;
}

.dev {
  position: relative;
  margin: 0;
}

.dev a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #bdbdbd;
}
