.imgCaroucel__area {
  width: 100%;
  order: 1;
  /* padding: 0 30px; */
  margin: 0 0 20px 0;
}

.imgCaroucel__outer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.imgCaroucel__title {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgCaroucel {
  width: 100%;
  /* padding: 10px 0 30px; */
  position: relative;
}

.imgCaroucel_lock {
  max-width: 1200px;
  margin: 0 auto;
}

.imgCaroucel1-container {
  position: relative;
  padding: 10px 0 20px;
}

.imgCaroucel1-wrapper,
.imgCaroucel2-wrapper {
  align-items: stretch;
  padding: 0 0 10px 0;
}
.imgCaroucel-slide {
  height: auto;
}

.imgCaroucel-slide a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.imgCaroucel-slide a img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.imgCaroucel a:hover img {
  box-shadow: 0px 10px 20px rgba(196, 187, 234, 0.45);
}

.imgCaroucel__left,
.imgCaroucel__right {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  top: 50%;
  margin-top: -26px;
  background: #f6f4ff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;

  display: none;
}

.imgCaroucel:hover .imgCaroucel__left,
.imgCaroucel:hover .imgCaroucel__right {
  background: #e7e4f4;
}

.imgCaroucel:hover .imgCaroucel__left i,
.imgCaroucel:hover .imgCaroucel__right i {
  opacity: 1;
  color: #5d4b62;
}

.imgCaroucel__left:hover,
.imgCaroucel__right:hover {
  background: var(--brick) !important;
}

.imgCaroucel__left:hover i,
.imgCaroucel__right:hover i {
  opacity: 1;
  color: #fff !important;
}

.imgCaroucel__left:focus,
.imgCaroucel__right:focus {
  border: none;
  outline: none;
}

.imgCaroucel__left.disabled,
.imgCaroucel__right.disabled {
  display: none;
}

.imgCaroucel__left {
  left: -1.9375rem;
}

.imgCaroucel__right {
  right: -1.9375rem;
}

.imgCaroucel__left i,
.imgCaroucel__right i {
  font-size: 1.5rem;
  color: var(--brick);
  transition: all 0.3s;
  opacity: 0.2;
}

.imgCaroucel__left:hover i,
.imgCaroucel__right:hover i {
  color: #fff;
}

.imgCaroucel__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 100%;
  /* display: none; */
}

.imgCaroucel__pagination .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: #cecbda;
  opacity: 0.2;
  opacity: 1;
  transition: all 0.3s;
  margin: 0 4px;
}

.imgCaroucel__pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #5d4b62;
  opacity: 1;
}

.swiper-pagination-lock {
  display: none;
}
