.mainTop4__area {
	position: relative;
}

.mainTop4__outer {
	position: relative;
	padding: 20px 0;
}

.mainTop4 {
	display: flex;
	margin: 0 -15px;
}

.mainTop4__left {
	width: 50%;
	position: relative;
}
.mainTop4__promo {
	width: 100%;
	position: relative;
	padding: 15px;
}

.mainTop4__promo video {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: bottom;
}

.mainTop4__right {
	width: 50%;
	position: relative;
}

.mainTop4__menu {
	display: flex;
	flex-wrap: wrap;
}

.mainTop4__menuItemOuter {
	width: 50%;
	height: 50%;
	position: absolute;
	/* overflow: hidden; */
}

.mainTop4__menuItemOuter_a {
	/* background: var(--bg0); */
	/* background: #e7b9b9; */
	left: 0;
	top: 0;
}
.mainTop4__menuItemOuter_b {
	/* background: #ac6f52;
  background: rgba(89, 32, 4, 0.3); */
	right: 0;
	top: 0;
}
.mainTop4__menuItemOuter_c {
	left: 0;
	bottom: 0;
}
.mainTop4__menuItemOuter_d {
	right: 0;
	bottom: 0;
}

.colorBox_a {
	background: #5d4b63;
	color: #fff;

	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F0F0F0 100%), #FFFFFF;
  color: #4f4f4f; */
}
.colorBox_b {
	/* background: #6a6e79; */
	/* background: #7c52be; */

	background: #d74d63;
	color: #fff;

	/* background: #f6e5e4;
  color: #4f4f4f; */
}
.colorBox_c {
	/* background: #c24b35; */
	/* background: #c14032; */
	background: #cecbda;
	color: #fff;
	color: #5d4b63;
}
.colorBox_d {
	/* background: #3a2f29; */
	/* background: #e2b929; */
	background: #a38182;
	color: #fff;
}

.colorBox_e {
	background: var(--x1greySuperLight);
}

.colorBox_f {
	background: #5d4b63;
	color: #fff;

	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f0f0f0 100%), #ffffff;
  color: #5d4b63; */
}

.mainTop4__menuItemWrapper {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
}

.mainTop4__menuItem {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px 20px;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
}
.mainTop4__menuItem:hover,
.mainTop4__menuItem:focus {
	text-decoration: none;
}

.mainTop4__menuItemTop {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mainTop4__menuItemTitle {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.3;
	text-align: left;
	position: relative;
	padding: 0 0 1rem 0;
}
.mainTop4__menuItemTitle:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2.5rem;
	height: 2px;
	background: #fff;
}

.mainTop4__menuItemTop i {
	font-size: 8rem;
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.1;
	transition: all 0.3s;
	display: none;
}
.mainTop4__menuItem:hover i,
.mainTop4__menuItem:focus i {
	opacity: 0.3;
}

.mainTop4__menuItemBottom {
	width: 100%;
	margin-top: 1rem;
	font-size: 0.875rem;
	line-height: 1.375;
}

.mainTop4__hideBoxOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2490;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}

.mainTop4__hideContainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2500;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Если делать раскрытие в квадрате кнопок - то разкомментировать этот блок и закоментировать следующий*/
/* .mainTop4__hideBox {
  position: absolute;
  z-index: 2500;
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
} */

/* .mainTop4__hideBox {
  display: none;
  position: fixed;
  z-index: 2500;
  width: 50%;
  top: 50%;
  left: 25%;
  height: auto;
  max-height: 60vh;
  padding: 10px;
  transform: translate(0, -50%);
} */

.mainTop4__hideBox {
	display: none;
	width: 50%;
	/* height: auto; */
	/* max-height: 60vh; */
	padding: 10px;
	position: relative;
}

.mainTop4__hideBoxInner {
	max-height: 100%;
	padding: 15px 10px 15px 15px;
	display: flex;
	flex-direction: column;
	/* max-height: 90%; */
}

.mainTop4__hideBoxInnerHeader {
	display: flex;
	justify-content: space-between;
}

.mainTop4__hideBoxInnerTitle {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.mainTop4__hideBoxInnerTitle i {
	font-size: 2rem;
	margin-right: 10px;
	color: var(--brick);
}
.mainTop4__hideBoxInnerTitle span {
	font-size: 2rem;
	color: var(--brick);
}

.mainTop4__hideBoxClose {
	cursor: pointer;
}

.mainTop4__hideBoxClose i {
	font-size: 2rem;
	color: var(--brick);
}

.mainTop4__hideBoxInnerContent {
	flex: 1;
	overflow-y: scroll;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5px 0 0;
	max-height: 60vh;
}

.mainTop4__hideBoxInnerContentInner {
	position: relative;
	width: 100%;
}

.topMenuBox {
	position: relative;
}
.topMenuBox li {
	list-style: none;
}
.topMenuBox li a {
	text-decoration: none;
	color: #000;
	font-size: 1.5rem;
	line-height: 1.5;
}

.mainTop4LineBox {
	display: flex;
	justify-content: space-between;
	padding: 15px 0 0 0;
}

.mainTop4LineBox__leftOuter {
	width: 30%;
}

.mainTop4LineBox__leftWrapper {
	/* padding-top: 30%; */
	height: 100%;
	position: relative;
}

.mainTop4LineBox__leftItem {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px 20px;
	align-items: center;
	text-decoration: none;
}

.mainTop4LineBox__itemTitle {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	position: relative;
	padding: 0 0 1rem 0;
	white-space: nowrap;
}

.mainTop4LineBox__itemTitle:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2.5rem;
	height: 2px;
	background: #fff;
}

.mainTop4LineBox__leftItem i {
	font-size: 5rem;
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.1;
	transition: all 0.3s;
	display: none;
}

.mainTop4LineBox__leftItem:hover i {
	opacity: 0.3;
}

.mainTop4LineBox__itemDesc {
	padding: 0 10px 0 30px;
	font-size: 14px;
	line-height: 1.5;
	/* flex: 1; */
}

.mainTop4LineBox__rightOuter {
	width: 70%;
	padding: 0 0 0 30px;
}

.mainTop4LineBox__rightLink1 {
	text-decoration: none;
	display: block;
}

.mainTop4LineBox__rightLink2 {
	text-decoration: none;
	display: none;
}

.mainTop4LineBox__rightOuter img {
	display: block;
	width: 100%;
}
