@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .procedure__intro {
    margin-top: 0;
  }
  .procedure__introImg__outer {
    order: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .procedure__introText {
    order: 1;
    width: 100%;
  }
  .procedure__introImg {
    padding: 10px 0;
  }
  /* .procedure__introLinks {
    flex-direction: row;
    flex-wrap: wrap;
  } */
  .link1 {
    margin: 2px 10px 2px 0;
    display: inline-block;
  }
}

@media only screen and (max-width: 480px) {
  .priceBox table td {
    padding: 5px;
  }

  .priceBox table td:nth-child(1) {
    width: 70%;
  }

  .priceBox table td:nth-child(2) {
    width: 30%;
  }
}

@media only screen and (max-width: 414px) {
  .procedure__introLinks {
    margin-top: 0;
  }
}

@media only screen and (max-width: 320px) {
}
