.promoLine__area {
  position: relative;
}

.promoLine {
  display: flex;
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.blocks__area {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.block__wrapper {
  width: 50%;
  padding: 10px;
}

.block {
  width: 100%;
  background: rgb(119, 118, 118);
  height: 300px;
}
