@media only screen and (max-width: 1200px) {
  .procedure4__introOuter {
    padding: 0 10px;
  }
  .centerTextBox {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  /* .gallery4__pagination {
    display: flex;
  }
  .gallery4__left {
    display: none;
  }
  .gallery4__right {
    display: none;
  } */
  /* .gallery4__area {
    padding: 0 10px;
  } */
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .gallery4-container {
    padding: 10px 0 10px;
  }
  .outerLink4__area {
    flex-direction: column;
  }
  .outerLink4 {
    margin: 20px 0 0 0;
    order: 2;
  }
  .procedure4__introImg__outer {
    width: 100%;
    order: 1;
    padding: 0 0 20px 0;
  }
  .procedure4__introText {
    width: 100%;
    order: 2;
  }
  .procedure4__intro {
    padding: 0 0 20px 0;
  }
  .centerTextBox {
    margin: 20px auto;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
