@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
  .servBox__outer {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
  .serv__item span {
    height: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .serv {
    margin: 0 -5px;
  }
  .serv__itemOuter {
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .serv {
    margin: 0 -5px;
  }
  .serv__itemOuter {
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .serv__itemOuter {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
  .serv__itemOuter {
    width: 100%;
  }
}
