@media only screen and (max-width: 1200px) {
	.eCatalog__itemInfo_inSlider {
		padding: 10px 20px 20px;
	}
	.tovarSimilarCaroucel__left {
		left: 0px;
	}

	.tovarSimilarCaroucel__right {
		right: 0px;
	}
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
	.tsc__pagination {
		display: flex;
	}
	.tovarSimilarCaroucel__left {
		display: none;
	}
	.tovarSimilarCaroucel__right {
		display: none;
	}
	.tovarSimilarCaroucel__area {
		padding: 0;
	}
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
	.eCatalog__itemArea_inSlider {
		padding: 5px;
	}
	.eCatalog__itemInfo_inSlider {
		padding: 10px 15px 15px;
	}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
