@media only screen and (max-width: 1200px) {
	.wsite {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
	.title1 {
		text-align: center;
	}
	.title1 h2 {
		font-size: 2.25rem;
	}
}

@media only screen and (max-width: 600px) {
	.title1 h2 {
		font-size: 1.875rem;
	}
}

@media only screen and (max-width: 480px) {
	.title1 h2 {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: 414px) {
}

@media only screen and (max-width: 320px) {
}
