mixin actions 
  .xTitle
    h2 Акции компании
  .actions 
    .action__outer 
      a.action(href="#") 
        .action__inner
    .action__outer 
      a.action(href="#") 
        .action__inner
    .action__outer 
      a.action(href="#") 
        .action__inner
    
