mixin blog
  .blog__area.w0
    .blog__outer.w1
      .title 
        h2 Блог
      .blog
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/11.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Лукьянова Наталья
            .blogItem__intro Причины исключить полностью или ограничить потребление молочных продуктов.
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Иванова Вероника
            .blogItem__intro Новинки косметологии этого лета
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              //- span.blogItem__author Петрова Марина
            .blogItem__intro Выбираем масло для массажа. Мнения наших экспертов
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Кузнецова Светлана
            .blogItem__intro Средства для загара. Консультация специалиста
        
        

mixin blogInBlogPage
  .blog__area.w0
    .blog__outer.w1
      .title 
        h2 Блог
      .blog
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/11.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Лукьянова Наталья
            .blogItem__intro Причины исключить полностью или ограничить потребление молочных продуктов.
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Иванова Вероника
            .blogItem__intro Новинки косметологии этого лета
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              //- span.blogItem__author Петрова Марина
            .blogItem__intro Выбираем масло для массажа. Мнения наших экспертов
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Кузнецова Светлана
            .blogItem__intro Средства для загара. Консультация специалиста
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Иванова Вероника
            .blogItem__intro Новинки косметологии этого лета
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              //- span.blogItem__author Петрова Марина
            .blogItem__intro Выбираем масло для массажа. Мнения наших экспертов
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              span.blogItem__author Кузнецова Светлана
            .blogItem__intro Средства для загара. Консультация специалиста
        .blog__itemOuter
          a.blog__item(href="#")
            .blog__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .blog__itemTitle
              span.blogItem__date 26.06.2020
              //- span.blogItem__author Петрова Марина
            .blogItem__intro Выбираем масло для массажа. Мнения наших экспертов
      .pagin
        ul.pagination
          li.control
            a(href="#") &#9668;
          li
            a(href="#") 1
          li
            a(href="#") 2
          li.active
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5
          li.control
            a(href="#") &#9658;