mixin videoLinksInMain 
  .vlim__area.block_mbottom
    .vlim__outer.wsite 
      .pageTitle.title1 
        h2 Видеогалерея
      .vlim
        .vlim__itemOuter 
          a.vlim__item(href="#")
            img(src="assets/img/adv/microphone.svg", alt="") 
            span Интервью со специалистами
        .vlim__itemOuter 
          a.vlim__item(href="#")
            img(src="assets/img/adv/video-camera.svg", alt="") 
            span Видео процедур
        .vlim__itemOuter 
          a.vlim__item(href="#")
            img(src="assets/img/adv/video-display.svg", alt="") 
            span Виртуальный тур

