mixin brandIntro 
  .brandIntro__area 
    .brandIntro
      .brandIntro__left
        .content.brandIntroText
          h1 Babor 
          p Немецкий косметический бренд Babor появился в 50-е годы, когда Михаэль Бабор придумал легендарную формулу HY-ÖL® — уникального гидрофильного очищения на масляной основе.
        .content.brandIntroText_long
          p И уже более 60 лет компания Babor создает формулы красоты, объединяя многолетний опыт собственной лаборатории и знания бьюти-экспертов, инновационные разработки и активные ингредиенты для непревзойденной эффективности своих роскошных продуктов.
          p Восхищение индивидуальной красотой и стремление ее сохранить помогает год за годом создавать эксклюзивные продукты для различных типов и потребностей кожи для достижения впечатляющих результатов. Так уход за кожей превращается в исключительное удовольствие.
        .brandIntroText__btn Читать подробнее
      .brandIntro__right
        .brandImgCover__outer 
          .brandImgCover.clearfix
            .brandImgCover__itemOuter.brandImgCover__itemOuter_big
              .brandImgCover__item
                .brandImgCover__itemInner(style="background-image: url(assets/img/brandpage/01.jpg)")
            .brandImgCover__itemOuter.brandImgCover__itemOuter_small
              .brandImgCover__item
                .brandImgCover__itemInner(style="background-image: url(assets/img/brandpage/02.jpg)")
            .brandImgCover__itemOuter.brandImgCover__itemOuter_small
              .brandImgCover__item
                .brandImgCover__itemInner(style="background-image: url(assets/img/brandpage/03.jpg)")