mixin brands
  .brands__area.w0
    .brands__outer.w1
      .title 
          h1 Наши бренды
      .brands
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/001.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/002.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/003.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/004.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/005.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/006.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/007.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/008.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/009.png", alt="")
            span Название бренда
        .brands__itemOuter
          a.brands__item(href="#")
            img(src="assets/img/brands/010.png", alt="")
            span Название бренда