mixin eCard 
  .eCard
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/01.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Инъекции на основе гиалуроновой кислоты. Улучшают качество кожи, разглаживают морщины
              ul
                li Мезоскульпт
                li Новакутан
                li Профайло 
                li ИАЛ
          .eCard__priceBtn.xBtn1
            i.icon-rrubles
          .overlay1 
            .ovarlay1__inner
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: лицо полностью
                          //-   td 4800 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: лицо полностью
                          //-   td 4800 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/02.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/03.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft(style="background-image: url(assets/img/problem/04.jpg)")
          .eCard__itemInnerRight
            .eCard__itemTitle BBL HERO: лечение сосудистых патологий
            .eCard__itemContent
              p Фототерапия на аппарате M Joule с инновационным модулем BBL HERO: сосудистые патологии на лице (в т.ч. розацеа, купероз) и теле (в т.ч. ангиомы)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.



mixin eCardApp 
  .eCard
    .eCard__itemOuter
      a.eCard__item(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_app(style="background-image: url(assets/img/apparatus/01.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_app
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Инъекции на основе гиалуроновой кислоты. Улучшают качество кожи, разглаживают морщины
              ul
                li Мезоскульпт
                li Новакутан
                li Профайло 
                li ИАЛ
          



mixin eCard_inMain 
  .eCard
    .eCard__itemOuter
      a.eCard__item.eCard__item_inMain(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_inMain(style="background-image: url(assets/img/problem/01.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_inMain
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Инъекции на основе гиалуроновой кислоты. Улучшают качество кожи, разглаживают морщины
              ul
                li Мезоскульпт
                li Новакутан
                li Профайло 
                li ИАЛ
          .eCard__priceBtn.xBtn1
            i.icon-rrubles
          .overlay1 
            .ovarlay1__inner
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: лицо полностью
                          //-   td 4800 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
                          //- tr
                          //-   td Лазерная эпиляция: лицо полностью
                          //-   td 4800 руб.
                          //- tr
                          //-   td Лазерная эпиляция: подбородок
                          //-   td 1900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: щеки
                          //-   td 2900 руб.
                          //- tr
                          //-   td Лазерная эпиляция: верхняя губа
                          //-   td 1000 руб.
    .eCard__itemOuter
      a.eCard__item.eCard__item_inMain(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_inMain(style="background-image: url(assets/img/problem/02.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_inMain
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item.eCard__item_inMain(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_inMain(style="background-image: url(assets/img/problem/03.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_inMain
            .eCard__itemTitle Омоложение
            .eCard__itemContent
              p Безоперационная подтяжка лица и тела.
              ul
                li Ulthera System (SMAS)
                li Liftera-A (SMAS)
                li Venus Legacy (RF)
                li M22 Lumenis
                li MJoule BBL HERO
                li EmSculpt
                li Scarlet S (RF иглами)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
    .eCard__itemOuter
      a.eCard__item.eCard__item_inMain(href="#")
        .eCard__itemInner
          .eCard__itemInnerLeft.eCard__itemInnerLeft_inMain(style="background-image: url(assets/img/problem/04.jpg)")
          .eCard__itemInnerRight.eCard__itemInnerRight_inMain
            .eCard__itemTitle BBL HERO: лечение сосудистых патологий
            .eCard__itemContent
              p Фототерапия на аппарате M Joule с инновационным модулем BBL HERO: сосудистые патологии на лице (в т.ч. розацеа, купероз) и теле (в т.ч. ангиомы)
          .eCard__priceBtn
            i.icon-rrubles
          .innerPriceBox__wrapper
            .innerPriceBox__overlay 
              .innerPriceBox.colorBox_e
                .innerPriceBox__header
                  .innerPriceBox__title Лазерная эпиляция Candela
                  .innerPriceBox__close
                    i.icon-close1
                .innerPriceBox__content.xScroll2 
                  .priceBox__area
                    .priceBox__title
                      h3 Название прайса
                    .priceBox
                      table
                        tbody
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.
                          tr
                            td Лазерная эпиляция: лицо полностью
                            td 4800 руб.
                          tr
                            td Лазерная эпиляция: подбородок
                            td 1900 руб.
                          tr
                            td Лазерная эпиляция: щеки
                            td 2900 руб.
                          tr
                            td Лазерная эпиляция: верхняя губа
                            td 1000 руб.

