mixin callback
  .callBackBtn 
    i.icon-phone-call
  .callBack__overlay 
    .callBack__area
      .callBack__form
        .callBack__close
          i.icon-close1
        .callback__intro
          h2 Заказать обратный звонок
          span заполните поля:
        form.callback.xForm(action='#')
          //- label(for="name_callback") Ваше имя
          input.name_callback(name='name_callback', type='text', placeholder='Ваше имя')

          label(for="phone_callback") Ваш телефон
          input.phone_callback(name='phone_callback', type='text', placeholder='+7-987-595-46-64')
          //- input.email_callback(name='email_callback', type='text', placeholder='Email')
          input.work_email_callback(name='work_email_callback', type='text', placeholder='Рабочий email')
          //- textarea.message_callback(name='message_callback', cols='30', rows='10', placeholder='Ваше сообщение')
          //- .form_callback__text
          //-   | *Отправляя сообщение Вы соглашаетесь с условиями 
          //-   a(href='privacy-policy/', target='_blank')
          //-     | политики
          //-     | конфиденциальности
          .form_callbackalrightBox.xFormCheck
            input.checkbox_callback(type='checkbox' required='')
            span Согласен на обработку персональных данных
          button.submit_callback(type='submit', name='submit_callback')
            | Заказать звонок
  
