mixin contacts
  .contacts__area.w0
    .contacts__outer.w1
      .title1
          h1 Контакты
      .contacts
        .contacts__left
          .content
            h2 Как найти наш Центр косметологии и красоты в Саратове?
            p Наш Центр расположен в самом #[strong центре Саратова] вблизи пересечения улиц Московской и Чапаева. Т.е. если Вы ищете #[strong Центр косметологии] или #[strong Центр красоты на Московской] или на Чапаева это Бьюти Лаунж!
            p Мы находимся на втором этаже элитного торгового комплекса «МИР».
            p Для наших клиентов всегда доступна #[strong БЕСПЛАТНАЯ] парковка для автомобилей (заезд с улицы Киселева). Спрашивайте карты оплаты парковки у наших менеджеров.
            h3 Адрес нашего Центра
            p Найти нас можно по точному адресу: Саратов, ул. Московская д. 117, ТК «Мир», 2 этаж.
            h3 Контактные телефоны:
            p Телефоны Центра:
            ul
              li
                a(href="tel:+78452260000") +7 (8452) 26-00-00
              li
                a(href="tel:+78452650500") +7 (8452) 65-05-00
            h3 Режим работы Центра:
            p с 9:00 до 21:00</p>

            p
              a(href="#") Реквизиты нашей организации
        .contacts__right
          .contactsForm__area
            +formInContactsPage
      .map__area
        #map
  