mixin eFilerMobile 
  .eFilerMobile__overlay 
    .eFilerMobile__wrapper 
      .eFilerMobile
        .eFilerMobile__title
          .eFilerMobile__back
            i.icon-arrow-left2
            span Назад
        .eFilerMobile__content
          .eFilerMobile__item 
            .eFilerMobile__itemLev1
              .eFilerMobile__itemLev1__inner
                span Для кого
                i.icon-arr-right1
            .eFilerMobile__itemLev2
              .eFilerMobile__back2
                i.icon-arrow-left2
                span Назад
              .eFilerMobile__itemElement.eFilerMobile__itemElement_scroll
                .eFilterCheckbox
                  input(id="1-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="1-mb") Для женщин
                .eFilterCheckbox
                  input(id="2-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="2-mb") Для мужчин
          .eFilerMobile__item 
            .eFilerMobile__itemLev1
              .eFilerMobile__itemLev1__inner
                span Зона применения
                i.icon-arr-right1
            .eFilerMobile__itemLev2
              .eFilerMobile__back2
                i.icon-arrow-left2
                span Назад
              .eFilerMobile__itemElement.eFilerMobile__itemElement_scroll
                .eFilterCheckbox
                  input(id="21-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="21-mb") Волосы
                .eFilterCheckbox
                  input(id="22-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="22-mb") Глаза
                .eFilterCheckbox
                  input(id="23-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="23-mb") Губы
                .eFilterCheckbox
                  input(id="24-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="24-mb") Лицо
                .eFilterCheckbox
                  input(id="25-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="25-mb") Ноги
                .eFilterCheckbox
                  input(id="26-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="26-mb") Руки
                .eFilterCheckbox
                  input(id="27-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="27-mb") Тело
                .eFilterCheckbox
                  input(id="28-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="28-mb") Шея
                .eFilterCheckbox
                  input(id="29-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="29-mb") Волосы
                .eFilterCheckbox
                  input(id="210-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="210-mb") Глаза
                .eFilterCheckbox
                  input(id="211-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="211-mb") Губы
                .eFilterCheckbox
                  input(id="212-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="212-mb") Лицо
                .eFilterCheckbox
                  input(id="213-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="213-mb") Ноги
                .eFilterCheckbox
                  input(id="214-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="214-mb") Руки
                .eFilterCheckbox
                  input(id="215-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="215-mb") Тело
                .eFilterCheckbox
                  input(id="216-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="216-mb") Шея
          .eFilerMobile__item 
            .eFilerMobile__itemLev1
              .eFilerMobile__itemLev1__inner
                span Действие
                i.icon-arr-right1
            .eFilerMobile__itemLev2
              .eFilerMobile__back2
                i.icon-arrow-left2
                span Назад
              .eFilerMobile__itemElement.eFilerMobile__itemElement_scroll
                .eFilterCheckbox
                  input(id="31-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="31-mb") Автозагар
                .eFilterCheckbox
                  input(id="32-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="32-mb") Антиакне
                .eFilterCheckbox
                  input(id="33-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="33-mb") Антибактериальное
                .eFilterCheckbox
                  input(id="34-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="34-mb") Антивозрастное
                .eFilterCheckbox
                  input(id="35-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="35-mb") Восстановление
                .eFilterCheckbox
                  input(id="36-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="36-mb") Защита
                .eFilterCheckbox
                  input(id="37-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="37-mb") Защита от солнца
                .eFilterCheckbox
                  input(id="38-mb" type="checkbox" data-id="" data-val="filter")
                  label(for="38-mb") Защта цвета
