mixin eShopMenu
  nav.eShopMenu__outer 
    ul.eShopMenu
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Решить проблему
            span 
          .openInner
        ul
          li.lev2
            .esli_inner
              a.hasInner(href="") 
                span Лифтинг
                span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Пигментация
                span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Акне
                span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Лишний вес
                span 
      li.lev1.active
        .esli_inner
          a.hasInner(href="")
            span Услуги
            span 152
          .openInner
        ul
          li.lev2.active
            .esli_inner
              a.hasInner(href="")
                span Аппаратная косметология 
                span 18
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span фотоомоложение
                    span 22
              li.lev3
                .esli_inner
                  a(href="")
                    span лазерная косметология
                    span 33
              li.lev3.active
                .esli_inner
                  a(href="")
                    span список всех процедур
                    span 
          li.lev2
            .esli_inner
              a(href="")
                span Инъекционная косметология
                span 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span Список всех методик
                    span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Лечебная косметология 
                span 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span фототерапия в дерматологии
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span лазеротерапия в дерматологии
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span подология
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span трихология
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span лечение храпа
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span список всех процедур
                    span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Эстетика и уход
                span 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span список всех процедур
                    span 
          li.lev2
            .esli_inner
              a.hasInner(href="")
                span Имиджевая студия
                span 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span визаж
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span стрижка
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span окрашивание
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span уход за волосами
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span укладка
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span лечение волос (трихология)
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span brow bar
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span маникюр
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span педикюр
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span лечение стопы и ногтевой пластины (подология)
                    span 
      li.lev1
        .esli_inner
          a(href="")
            span Специалисты
            span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Оборудование
            span 
          .openInner
        ul
          li.lev2
            .esli_inner
              a(href="")
                span LPG
                span 
          li.lev2
            .esli_inner
              a(href="")
                span Candela
                span 
          li.lev2
            .esli_inner
              a(href="")
                span Fotona
                span 
      li.lev1
        .esli_inner
          a(href="")
            span Бренды
            span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span О нас
            span 
          .openInner
        ul
          li.lev2
            .esli_inner
              a(href="")
                span Контакты
                span 
          li.lev2
            .esli_inner
              a(href="")
                span Дополнительная информация
                span 
          li.lev2
            .esli_inner
              a(href="")
                span Вакансии
                span 
      li.lev1
        .esli_inner
          a(href="")
            span Блог
            span 
      li.lev1
        .esli_inner
          a(href="")
            span Лицензии
            span 
      li.lev1
        .esli_inner
          a(href="")
            span Акции
            span 
      li.lev1
        .esli_inner
          a(href="")
            span Запись на прием
            span 


mixin eShopMenuCatalogOnly
  //- .eShopMenu__mobileBtnOuter
  .eShopMenu__mobileBtn Каталог
  nav.eShopMenu__outer_catalogOnly
    ul.eShopMenu.eShopMenu__scroll.xScroll2
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Лицо
            span 186
          .openInner
        ul
          li.lev3
            .esli_inner
              a.hasInner(href="") 
                span Уход
                span 
          li.lev3
            .esli_inner
              a.hasInner(href="")
                span Уход
                span 
          li.lev3
            .esli_inner
              a.hasInner(href="")
                span Уход
                span 
          li.lev3
            .esli_inner
              a.hasInner(href="")
                span Уход
                span 
      li.lev1.active
        .esli_inner
          a.hasInner(href="")
            span Волосы
            span 152
          .openInner
        ul
          li.lev2.active
            .esli_inner
              a.hasInner(href="")
                span Стайлинг и окрашивание 
                span 18
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span Воски
                    span 22
              li.lev3
                .esli_inner
                  a(href="")
                    span Гели
                    span 33
              li.lev3
                .esli_inner
                  a(href="")
                    span Краска для волос
                    span 33
              li.lev3.active
                .esli_inner
                  a(href="")
                    span Кремы
                    span 
              li.lev3
                .esli_inner
                  a(href="")
                    span Лаки для волос
                    span 33
              li.lev3
                .esli_inner
                  a(href="")
                    span Лосьоны
                    span 33
              li.lev3
                .esli_inner
                  a(href="")
                    span Масла
                    span 33
              li.lev3
                .esli_inner
                  a(href="")
                    span Гели
                    span 33
          li.lev2
            .esli_inner
              a(href="")
                span Уход
                span 
              .openInner
            ul
              li.lev3
                .esli_inner
                  a(href="")
                    span Уход первый
                    span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Тело 
            span 
          .openInner
        ul
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Тело 1
                span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Ногти
            span 
          .openInner
        ul
          li.lev3
            .esli_inner
              a(href="")
                span Уход за ногтями
                span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Макияж
            span 
          .openInner
        ul
          li.lev3
            .esli_inner
              a(href="")
                span Макияж вечерний
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж дневной
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж повседневный
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж свадебный
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж ретро
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж праздничный
                span 
          li.lev3
            .esli_inner
              a(href="")
                span Макияж туристический
                span 
      li.lev1
        .esli_inner
          a(href="")
            span Мужчинам
            span 
      li.lev1
        .esli_inner
          a.hasInner(href="")
            span Подарочные сертификаты
            span 
          .openInner
        ul
          li.lev2
            .esli_inner
              a(href="")
                span 10000 р
                span 
          li.lev2
            .esli_inner
              a(href="")
                span 20000 р
                span 
          li.lev2
            .esli_inner
              a(href="")
                span 30000 р
                span 
      


