mixin cabinet2
  .cabinet2__area.w0
    .cabinet2__outer.w1
      .title.title_flex
        h1= pageTitle
        //- a.profil2__exit(href="", title="Выйти")
        //-   span Выйти
        //-   i.icon-exit
      .cab2__tabsArea
        ul.cab2__tabs
          li.cab2__tab
            a.cab2__tabTitle.active(href='#')
              i.icon-calculator
              span Мои заказы
            section.open
              +order2
          li.cab2__tab
            a.cab2__tabTitle(href='#')
              i.icon-avatar1
              span Профиль
            section
              +profile2



mixin order2
  .order2__area
    .order2__outer
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/01.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/02.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/03.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/04.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/006.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/010.jpeg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/011.jpeg)")
            .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/05.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/008.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/009.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/06.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/07.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/08.jpg", alt="")
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Title
              .order2Date 20-01-2021 16:59
              .order2Price 4 950.00 ₽
            .order2Id 000748
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/09.jpg", alt="")



mixin profile2
  .profile2__area
    .profile2__outer
      .profile2
        .profile2__row
          .profile2__rowTitle Имя:
          .profile2__rowContent Иванов Иван Иванович
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Телефон:
          .profile2__rowContent +7 (927) 310-88-10
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Email:
          .profile2__rowContent pokupatel@tcmir.ru
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Аккаунт создан:
          .profile2__rowContent 18.08.2020
