include __eShopCatalogFloat

mixin cabinet2
  .cabinet2__area
    .cabinet2__outer.wsite
      .pageTitle.title_flex
        h1= pageTitle
        //- a.profil2__exit(href="", title="Выйти")
        //-   span Выйти
        //-   i.icon-exit
      .cab2__tabsArea
        .mobileTabs__area 
          //- .mobileTabs__title 
          select.mobileTabs 
            //- option.mobileTab(disabled selected) Выберите раздел
            option.mobileTab(data-tab_mb=0) Мои заказы
            option.mobileTab(data-tab_mb=1) Избранное
            option.mobileTab(data-tab_mb=2) Личные данные
        ul.cab2__tabs
          li.cab2__tab
            a.cab2__tabTitle.active(href='#' data-tab_dt=0)
              //- i.icon-calculator
              span Мои заказы
            section
              //- +noOrder
              +order2
          li.cab2__tab
            a.cab2__tabTitle(href='#' data-tab_dt=1)
              //- i.icon-calculator
              span Избранное
              span.favorInTab 10
            section
              .favTopLine 
                h2 Избранное
                .favTopLine__btns   
                  .favTotalCount 10 товаров
                  .favClear Очистить все
              .eCatalog.eCatalog_wide
                +eCatalogFav
          
          li.cab2__tab
            a.cab2__tabTitle(href='#' data-tab_dt=2)
              //- i.icon-avatar1
              span Личные данные
            section
              +profileZ


mixin noOrder 
  .noOrder__area 
    .noOrder.pt-4
      .pageTitle 
        h2 Мои заказы
        p Вы пока не совершили ни одного заказа, и это кажется нам странным, ведь у нас есть 
          | <span class="red">замечательные скидки</span>
          | и <span class="red">крутые гаджеты.</span>
      .container 
        .row 
          .col-md.d-flex.flex-column.py-2.py-sm-4.pr-xl-5
            img.mb-2(src="assets/img/adv/account.svg", alt="", width="76")
            span.mb-2 Заполните профиль
            p.mb-4 Это займет всего 2-3 минуты, но позволит оформлять заказы гораздо быстрее.
            .noOrder__btn 
              span.mr-2 Приступить
              i.icon-rightss2
          .col-md.d-flex.flex-column.py-2.py-sm-4.pr-xl-5
            img.mb-2(src="assets/img/adv/shopping-cart.svg", alt="", width="76")
            span.mb-2 Укажите Ваши любимые адреса доставки
            p.mb-4 А потом просто выберите подходящий при оформлении заказа.
            .noOrder__btn 
              span.mr-2 Добавить адрес
              i.icon-rightss2



mixin order2
  .order2__area
    h2 Мои заказы
    .order2__outer
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/01.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/02.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/03.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/04.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/006.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/010.jpeg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar/011.jpeg)")
            .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/05.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/008.jpg)")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/009.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/06.jpg", alt="")
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/07.jpg", alt="")
              //- .order2Thumbs__itemArea
              //-   .order2Thumbs__itemOuter
              //-     .order2Thumbs__item(style="background-image: url(assets/img/tovar6/003.jpg)")
            //- .order2Thumbs__more + еще
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/08.jpg", alt="")
      .order2__item
        a.order2(href="#")
          .order2__left
            .order2Id Заказ 000748
            .order2Date
              span 20-01-2021
              span 16:59
            .order2Price 4 950.00 ₽
            .order2Status Ожидает оплаты
          .order2__right
            .order2Thumbs
              .order2Thumbs__itemArea
                .order2Thumbs__itemOuter
                  .order2Thumbs__item
                    img(src="assets/img/ecatalog/09.jpg", alt="")



mixin profile2
  .profile2__area
    .profile2__outer
      .profile2
        .profile2__row
          .profile2__rowTitle Имя:
          .profile2__rowContent Иванов Иван Иванович
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Телефон:
          .profile2__rowContent +7 (927) 310-88-10
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Email:
          .profile2__rowContent pokupatel@tcmir.ru
          .profile2__rowContentCorect 
            span Изменить
            i.icon-pencil
        .profile2__row
          .profile2__rowTitle Аккаунт создан:
          .profile2__rowContent 18.08.2020


mixin profileZ 
  .profileZ__area 
    .profileZ 
      .profileZ__left 
        .pageTitle
          h2 Личные данные
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Электронная почта
          .profileZinputWrapper
            //- label(for="cab_email") Электронная почта
            input#cab_email(name='cab_email', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Текущий пароль
          .profileZinputWrapper
            label(for="cab_pass") Пароль
            input#cab_pass(name='cab_pass', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Ваше имя
          .profileZinputWrapper
            label(for="cab_name") Имя
            input#cab_name(name='cab_name', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Ваша фамилия
          .profileZinputWrapper
            label(for="cab_surname") Фамилия
            input#cab_surname(name='cab_surname', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Ваш телефон
          .profileZinputWrapper
            label(for="cab_phone") Телефон
            input#cab_phone(name='cab_phone', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Дата рождения
          .profileZinputWrapper
            label(for="cab_birthday") Дата рождения
            input#cab_birthday(name='cab_birthday', type='text', placeholder='')
        .profileZ__inputArea 
          .profileZ__inputAreaTitle Мой город
          .profileZinputWrapper
            label(for="cab_town") Город
            input#cab_town(name='cab_town', type='text', placeholder='')
        .profileZ__inputArea.profileZ__inputArea_radio
          .profileZ__inputAreaTitle Пол
          .profileZradioWrapper
            .zRadio
              input(name="color" type="radio" id="zr10" value="woman"  checked)
              label(for="zr10") Женский
            .zRadio
              input(name="color" type="radio" id="zr11" value="man")
              label(for="zr11") Мужской
      .profileZ__right
        .profileZ__rightInner
          .profileZ__addressTitle Адреса доставки
          .profileZ__addressArea 
            span Саратов, ул. Большая Садовая, д.150 А, кв.15
          .profileZ__addressInputArea  
            input#cab_address_1(name='cab_address_1', type='text', placeholder='')
          .profileZ__addressAreaAdd 
            i.icon-plus
            span Добавить адрес доставки
