mixin virtTour 
  .vt__area 
    .vt 
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/gincab.svg", alt="")
          .vt__itemName 
            span Кабинет
            span гинекологии
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/lifcab.svg", alt="")
          .vt__itemName 
            span Кабинет
            span smas-лифтинга
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/coscab.svg", alt="")
          .vt__itemName 
            span Кабинет
            span косметологии
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/waicab.svg", alt="")
          .vt__itemName 
            span Зона
            span ожидания
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/sticab.svg", alt="")
          .vt__itemName 
            span Кабинет
            span стилиста
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/imcab.svg", alt="")
          .vt__itemName 
            span Имидж-студия
            span Бьюти Лаунж
      .vt__itemOuter 
        a.vt__item(href="#")
          .vt__itemImg 
            img(src="assets/img/svg/injcab.svg", alt="")
          .vt__itemName 
            span  Отделение
            span косметологии

      
