mixin header 
  .topLine__area 
    .topLine.wsite 
      .topLine__address 
        i.icon-marker3
        span ул. Московская, 117, 2 этаж, ТК "МИР"
      nav.topLine__menuArea
        ul.topLine__menu 
          li
            a(href="#") О нас
          li
            a(href="#") Блог
          li
            a(href="#") Правовая информация
          li
            a(href="#") Контакты
      .topLine__login 
        i.icon-eavatar
        span Войти / Регистрация
  .header__area 
    header.header.wsite
      .logo1__area
        .header__menuBtn.leftSlideMenu_js
          i.icon-hamburger1
        .logo1 
          a(href="")
            img(src="assets/img/logo-1-fff.svg", alt="") 
      .btn.btn1 Решить проблему
      nav.header__menuArea
        ul.header__menu 
          li
            a(href="#") Услуги
            ul
              li.first
                a(href='#') Аппаратная косметология
              li
                a(href='#') Инъекционная косметология
              li
                a(href='#') Интимная косметология
              li
                a(href='#') Лечебная косметология
              li
                a(href='#') Имидж-студия
              li.last
                a(href='#') Эстетика и уход
          li
            a(href="#") Специалисты
          li
            a(href="#") Оборудование
          li
            a(href="#") E-Shop
      a.header__phone(href="tel:+78452260000") +7 (8452) 26-00-00
      .header__iBtns 
        .iBtn.topSearch_JS 
          i.icon-search2
        .iBtn 
          i.icon-eheart1
          span 10
        .iBtn 
          i.icon-eshopping-cart
          span 10

