mixin leftSlideMenu 
  .leftSlideMenu__overlay 
    .leftSlideMenu__wrapper
      .leftSlideMenu
        .leftSlideMenu__title
          .leftSlideMenu__titleContent 
            i.icon-eavatar
            span Войти / Регистрация
          .leftSlideMenu__close 
            i.icon-close1
        .leftSlideMenu__content.xScroll2
          .leftSlideMenu__item
            a(href="#") Услуги
          .leftSlideMenu__item
            a(href="#") Специалисты
          .leftSlideMenu__item
            a(href="#") Оборудование
          .leftSlideMenu__item
            a(href="#") E-Shop
          .leftSlideMenu__item
            a(href="#") О нас
          .leftSlideMenu__item
            a(href="#") Блог
          .leftSlideMenu__item.active
            a(href="#") Правовая информация
          .leftSlideMenu__item
            a(href="#") Контакты
