mixin mainBox
  .mainBox__area.w0
    .mainBox__wrapper.w1
      .mainBox.clearfix
        
        .mainBox__itemOuter.mainBox__itemOuter_rightBox
          .mainBox__item.ny_bg1
            .rightBox__innerCover
              img.kv-img(src="assets/img/w285h285.png", alt="")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            .rightBox__inner
              img.logo140(src="assets/img/logo140w.png", alt="")
              img.logo100(src="assets/img/logo100w.png", alt="")
              span Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda suscipit natus molestias, doloremque dolorem provident?
              a.mainConsBtn(href="#") Получить консультацию
            //- .imgCoverBox
            //-   img.kv-img(src="assets/img/w285h285.png", alt="")
            //-   img.h-img(src="assets/img/w285h590.png", alt="")
            //-   img.w-img(src="assets/img/w590h285.png", alt="")
        .mainBox__itemOuter.mainBox__itemOuter_big
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек
        .mainBox__itemOuter
          a.mainBox__item(href="#")
            .mainBox__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
              img.kv-img(src="assets/img/w285h285.png", alt="")
            span Описание первого блока в несколько строчек


mixin mainContent
  .mainContent__area.w0
    .mainContent__wrapper.w1
      .mainContent
        .mainContent__left 
          .content
            h2 Бьюти Лаунж
            p Центр косметологии и красоты БЬЮТИ ЛАУНЖ - ваш надежный проводник в мире красоты, здоровья и долголетия! Философия нашего Центра - это персонифицированный индивидуальный подход к каждому Гостю!
            p В Центре косметологии и красоты БЬЮТИ ЛАУНЖ гармонично сочетают высокий профессионализм, разумный подход к красоте и здоровью, и главное, желание творить!
          //- a.mainContent__redmore(href="#") Узнать о нас больше 
        .mainContent__right
          img(src="assets/img/img-bg-about_main2.jpg", alt="")
          