mixin mainTop 
  .mainTop__area.block_mbottom
    .mainTop__outer.wsite 
      .mainTop
        .mainTop__left
          .mainTop__video
            video(width="100%" height="auto" muted="" playsinline="" autoplay="" loop="" preload="auto")
              source(src='assets/video/video1803.mp4' type='video/mp4')
        .mainTop__right
          .mainTop__rightBoxes.clearfix
            .mainTop__rightBoxOuter
              a.mainTop__rightBox(href="#") 
                .mainTop__rightBoxTitle Решение проблем
                .mainTop__rightBoxDesc Профессионалы в решение косметологических проблем
            .mainTop__rightBoxOuter
              a.mainTop__rightBox(href="#")
                .mainTop__rightBoxTitle Услуги
                .mainTop__rightBoxDesc Выбрать нужную услугу нашего Центра
            .mainTop__rightBoxOuter
              a.mainTop__rightBox(href="#")
                .mainTop__rightBoxTitle Оборудование
                .mainTop__rightBoxDesc Современное оборудование в нашем «Бьюти Лаунж»
            .mainTop__rightBoxOuter
              a.mainTop__rightBox(href="#")
                .mainTop__rightBoxTitle Специалисты
                .mainTop__rightBoxDesc Наши врачи-косметологи и стилисты
      .mainTop__line 
        .mainTop__shopLinkOuter
          a.mainTop__shopLink(href="#") 
            span.mainTop__shopLinkTitle E-Shop
            span.mainTop__shopLinkDesc Интернет-магазин профессиональной косметики
        .mainTop__btlPromo
          a.mainTop__btlPromoLink.mainTop__btlPromoLink_xl(href="")
            img(src="assets/img/creative/m22-1200х150-2.jpg", alt="")
          a.mainTop__btlPromoLink.mainTop__btlPromoLink_sd(href="")
            img(src="assets/img/creative/m22-600х150.jpg", alt="")