mixin mainProblem
  .mainProblem__area.w0
    .mainProblem__outer.w1
      .mainProblem
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/omolozhenie.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Омоложение
              .mainProblem__itemInfoContent
                ul
                  li Лифтинг
                  li Морщины
                  li Подтяжка 
                  li Контур лица
            .innerPriceBtn ₽
            .innerPriceBox__wrapper
              .innerPriceBox__overlay 
                .innerPriceBox.colorBox_e
                  .innerPriceBox__header
                    .innerPriceBox__title Лазерная эпиляция Candela
                    .innerPriceBox__close
                      i.icon-close2021
                  .innerPriceBox__content.xScroll2 
                    .priceBox2__area
                      .priceBox__title
                        h3 Название прайса
                      .priceBox
                        table
                          tbody
                            tr
                              td Лазерная эпиляция: подбородок
                              td 1900 руб.
                            tr
                              td Лазерная эпиляция: щеки
                              td 2900 руб.
                            tr
                              td Лазерная эпиляция: верхняя губа
                              td 1000 руб.
                            tr
                              td Лазерная эпиляция: лицо полностью
                              td 4800 руб.
                            tr
                              td Лазерная эпиляция: подбородок
                              td 1900 руб.
                            tr
                              td Лазерная эпиляция: щеки
                              td 2900 руб.
                            tr
                              td Лазерная эпиляция: верхняя губа
                              td 1000 руб.

          




        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/figura.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Коррекция фигуры
              .mainProblem__itemInfoContent
                p Lorem ipsum dolor sit amet dolor sit amet
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/kozha.png", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Проблемы кожи
              .mainProblem__itemInfoContent
                ul
                  li Лифтинг
                  li Морщины
                  li Подтяжка 
                  li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/hairproblem.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Проблемы с волосами
              .mainProblem__itemInfoContent
                ul
                  li Лифтинг
                  li Морщины
                  li Подтяжка 
                  li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/clear.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Очищение кожи
              .mainProblem__itemInfoContent
                ul
                  li Лифтинг
                  li Морщины
                  li Подтяжка 
                  li Контур лица
        .mainProblem__itemOuter
          a.mainProblem__item(href="")
            .mainProblem__itemImg
              img(src="assets/img/problem/epil.jpg", alt="")
            .mainProblem__itemInfo
              .mainProblem__itemInfoTitle Удаление волос
              .mainProblem__itemInfoContent
                ul
                  li Лифтинг
                  li Морщины
                  li Подтяжка 
                  li Контур лица






