mixin menuBottom1_main
  .menuBottom1__areaFake
  .menuBottom1__area.menuBottom1__area_main
    .menuBottom1__outer
      .menuBottom1
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          //- .menuBottom1__item.menuBottom1__item_js.mColor1(data-id="menu1")
          //-   i.icon-menu
          //-   span Меню
          a.menuBottom1__item.mColor1(href="#")
            i.icon-eshopping-cart
            span E-shop
        
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          .menuBottom1__item.menuBottom1__item_js.mColor3(data-id="menu3")
            i.icon-sad
            span Проблемы
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          .menuBottom1__item.menuBottom1__item_js.mColor2(data-id="menu2")
            i.icon-paste
            span Услуги
        //- .menuBottom1__itemArea
        //-   .menuBottom1__itemContent
        //-   .menuBottom1__item.mColor4
        //-     i.icon-writing
        //-     span Запись
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          a.menuBottom1__item.mColor5(href="tel:88452260000")
            i.icon-telephone
            span Позвонить

mixin menuBottom1_page
  .menuBottom1__areaFake
  .menuBottom1__area.menuBottom1__area_page
    .menuBottom1__outer
      .menuBottom1
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          .menuBottom1__item.menuBottom1__item_js.mColor1(data-id="menu1")
            i.icon-menu
            span Меню
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          .menuBottom1__item.menuBottom1__item_js.mColor2(data-id="menu2")
            i.icon-smile
            span Услуги
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          .menuBottom1__item.menuBottom1__item_js.mColor3(data-id="menu3")
            i.icon-question-round
            span Проблемы
        //- .menuBottom1__itemArea
        //-   .menuBottom1__itemContent
        //-   .menuBottom1__item.mColor4
        //-     i.icon-writing
        //-     span Запись
        .menuBottom1__itemArea
          .menuBottom1__itemContent
          a.menuBottom1__item.mColor5(href="tel:88452260000")
            i.icon-phone-call
            span Позвонить