mixin news
  .news__area.w0
    .news__outer.w1
      .title 
        h2 Новости
      .news
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/11.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Лукьянова Наталья
              span.news__itemDesc Причины исключить полностью или ограничить потребление молочных продуктов.
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Иванова Вероника
              span.news__itemDesc Новинки косметологии этого лета
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Кузнецова Светлана
              span.news__itemDesc Средства для загара. Консультация специалиста
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/12.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Иванова Вероника
              span.news__itemDesc Новинки косметологии этого лета
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/14.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              span.news__itemAuthor Кузнецова Светлана
              span.news__itemDesc Средства для загара. Консультация специалиста
        .news__itemOuter
          a.news__item(href="#")
            .news__itemImg
              img(src="assets/img/gal/13.jpg", alt="")
            .news__itemInfo
              span.news__itemDate 26.06.2020
              //- span.news__itemAuthor Петрова Марина
              span.news__itemDesc Выбираем масло для массажа. Мнения наших экспертов
      .pagin
        ul.pagination
          li.control
            a(href="#") &#9668;
          li
            a(href="#") 1
          li
            a(href="#") 2
          li.active
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#") 5
          li.control
            a(href="#") &#9658;



mixin blogSlider
  .blogSlider__area
    .blogSlider__outer
      .blogSliderCaroucel
        .swiper-container.blogSlider-container
          .swiper-wrapper.blogSlider-wrapper
            .swiper-slide.blogSlider-slide
              .blogSlider-slideInner
                a.blogSliderItem(href="#")
                  .blogSliderItem__cover 
                    .blogSliderItem__coverVideo.videoBox_i
                      iframe(width='560' height='315' src='https://www.youtube.com/embed/YCF6qjf1-h8' autoplay='1' frameborder='0' allow='accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    //- .blogSliderItem__coverImg
                    //-   .blogSliderItem__coverImgInner(style="background-image: url(assets/img/before-after/01.jpg)")
                  .blogSliderItem__info 
                    .blogSliderItem__title Дорогие друзья, передаём Вам новогодний привет и поздравления от наших докторов!
                    .blogSliderItem__date 30.12.2020
            .swiper-slide.blogSlider-slide
              .blogSlider-slideInner
                a.blogSliderItem(href="#")
                  .blogSliderItem__cover 
                    .blogSliderItem__coverImg
                      .blogSliderItem__coverImgInner(style="background-image: url(assets/img/blog/01.jpg)")
                  .blogSliderItem__info 
                    .blogSliderItem__title Дорогие друзья, передаём Вам привет и поздравления от наших докторов!
                    .blogSliderItem__date 30.12.2020
            .swiper-slide.blogSlider-slide
              .blogSlider-slideInner
                a.blogSliderItem(href="#")
                  .blogSliderItem__cover 
                    .blogSliderItem__coverVideo.videoBox_i
                      iframe(width='560' height='315' src='https://www.youtube.com/embed/YCF6qjf1-h8' autoplay='1' frameborder='0' allow='accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    //- .blogSliderItem__coverImg
                    //-   .blogSliderItem__coverImgInner(style="background-image: url(assets/img/before-after/01.jpg)")
                  .blogSliderItem__info 
                    .blogSliderItem__title Дорогие друзья, передаём Вам новогодний привет!
                    .blogSliderItem__date 30.12.2020
            
            .swiper-slide.blogSlider-slide
              .blogSlider-slideInner
                a.blogSliderItem(href="#")
                  .blogSliderItem__cover 
                    .blogSliderItem__coverImg
                      .blogSliderItem__coverImgInner(style="background-image: url(assets/img/blog/02.jpg)")
                  .blogSliderItem__info 
                    .blogSliderItem__title Дорогие друзья, передаём Вам новогодний привет и поздравления от наших докторов!
                    .blogSliderItem__date 30.12.2020
            .swiper-slide.blogSlider-slide
              .blogSlider-slideInner
                a.blogSliderItem(href="#")
                  .blogSliderItem__cover 
                    .blogSliderItem__coverImg
                      .blogSliderItem__coverImgInner(style="background-image: url(assets/img/blog/03.jpg)")
                  .blogSliderItem__info 
                    .blogSliderItem__title Дорогие друзья, передаём Вам новогодний привет и поздравления от наших докторов!
                    .blogSliderItem__date 30.12.2020
                
        .blogSlider__pagination
        //- .blogSlider__left
        //-   i.icon-arr-left1
        //- .blogSlider__right
        //-   i.icon-arr-right1
      a.mainNews__redmore(href="")  Узнать о нас больше