mixin newsInMain
  .newsInMain__area.w0
    .newsInMain__outer.w1
      .newsInMain
        .newsInMainBox__outer
          .newsInMainBox__title
            h3 Новости
            a.newsInMainBox__redmore(href="#") Все новости
          a.newsInMainBox(href="")
            .newsInMainBox__img(style="background-image: url(assets/img/gal/01.jpg);")
              img(src="assets/img/kv280.png", alt="")
            span.newsInMainBox__info
              span.newsInMainBox__date 27.06.2020
              span.newsInMainBox__intro Как защитить себя и близких от солнечных лучей

        .shopLinkInMain__outer
          .newsInMainBox__title
            h3 Наш интернет магазин
          .shopLinkInMain(style="background-image: url(assets/img/bg/people-2557446_1280-2.jpg);")
            .shopLinkInMain__inner
              span Интернет-магазин профессиональной косметики для домашнего ухода. Более 70 брендов.
              a.shopLinkInMain__link(href="#") Каталог