include __leftSlideMenu
include __menuBottom1
include __callback
include __const
include __eFilterMobile

mixin popUpBlocks 
  +search1
  +toUp
  +leftSlideMenu
  +menuBottom_x1
  +callback
  +eFilerMobile
