mixin procedure4__intro 
  .procedure4__intro
    .procedure4__introText
      .content
        p Лазерная эпиляция волос  Candela GentleLasePro-U - это самый простой и быстрый способ избавиться от нежелательных волос. 
        p Каждая женщина хочет иметь гладкую и нежную кожу, но многие сталкиваются с проблемой роста нежелательных волос, и эта проблема касаема не только женщин, но и мужчин. Способов избавления от нежелательных волос существует много, и самый эффективный и надежный из них - лазерная эпиляция волос  Candela GentleLasePro-U. 
        p Всего за несколько сеансов можно навсегда распрощаться с нежелательными волосами.
      .procedure4__introLinks
        a.link1#goToPriceAnchor(href="#")
          i.icon-calculator
          span Перейти к ценам

      
    .procedure4__introImg__outer
      .procedure__introImg
        img(src="assets/img/temp/001.png", alt="")
      //- .procedure4__introImg.videoBox.videoBox_i
      //-   iframe(width='560' height='315' src='https://www.youtube.com/embed/YCF6qjf1-h8' autoplay='1' frameborder='0' allow='accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        



mixin centerTextBox
  .centerTextBox__area 
    .centerTextBox
      .content.clearfix
        p Омолаживающая процедура гидродермия (Hydradermie) обеспечивает глубокое увлажнение и восстановление кожи. Воздействие безболезненных микротоков в сочетании с косметическими средствами Guinot дают максимальный эффект. После процедуры морщины разглаживаются, лицо становится свежим и подтянутым.
        h4 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dicta, aliquam debitis commodi placeat odio fugiat voluptas necessitatibus quisquam distinctio soluta illum eum eos dignissimos tenetur? Laboriosam autem sit vel!
        h4 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id? Nobis, totam! Dolor accusamus voluptatum placeat quas, repellendus dolorem totam natus soluta nostrum similique earum.
        blockquote
          h2 Каждая процедура включает следующие этапы:
          ul 
            li Очищение и эксфолиация
            li Эксклюзивная массажная техника со специальной сывороткой Эксклюзивная массажная техника со специальной сывороткой Эксклюзивная массажная техника со специальной сывороткой
            li Маска в соответствии с индивидуальными потребностями кожи
          p
            strong В настоящее время существует большой выбор аппаратов для удаления волос лазером, различающихся способом производства импульсов.
          p В нашем салоне доступен александритовый лазер Candela GentleLasePro-U – самый современный и эффективный из них.
          p Врачи-косметологи нашего центра, работающие по телу, обладают огромным опытом проведения процедуры и индивидуально подбирают мощность воздействия лазера для максимально быстрого и безопасного результата.
          

mixin ProcedureImageGallery
  .gallery4__area
    .gallery4__outer
      .gallery4__title
        h2 Фотогалерея
      .gallery4
        .swiper-container.gallery4-container
          .swiper-wrapper.gallery4-wrapper
            .swiper-slide.gallery4-slide
              a.gallery4__item(href="assets/img/gallery4/01.jpg", data-fancybox)
                img(src="assets/img/gallery4/01.jpg", alt="")
            .swiper-slide.gallery4-slide
              a.gallery4__item(href="assets/img/gallery4/02.jpg", data-fancybox)
                img(src="assets/img/gallery4/02.jpg", alt="")
            .swiper-slide.gallery4-slide
              a.gallery4__item(href="assets/img/gallery4/03.jpg", data-fancybox)
                img(src="assets/img/gallery4/03.jpg", alt="")
            .swiper-slide.gallery4-slide
              a.gallery4__item(href="assets/img/gallery4/01.jpg", data-fancybox)
                img(src="assets/img/gallery4/01.jpg", alt="")
            .swiper-slide.gallery4-slide
              a.gallery4__item(href="assets/img/gallery4/02.jpg", data-fancybox)
                img(src="assets/img/gallery4/02.jpg", alt="")
        .gallery4__left
          i.icon-arr-left1
        .gallery4__right
          i.icon-arr-right1
        .swiper-pagination.gallery4__pagination