include __menu

mixin services
  .serv__area.w0
    .serv__outer.w1
      .title1
        h1 Заголовок страницы
      .serv__wrapper
        +leftMenuSuperTree
        .servBox__outer
          +mainProblem
          .serv
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
            .serv__itemOuter
              a.serv__item(href="#")
                .serv__itemImg(style="background-image: url(assets/img/serv/0001.jpg);")
                  img.kv-img(src="assets/img/w285h285.png", alt="")
                span Описание первого блока в несколько строчек
