mixin sliderSlickInMain
  .juneSlider__area.w0
    .juneSlider__outer.w1
      .juneSlider
        .juneSlider__item
          a(href="#")
            img(src="assets/img/june/001.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/xslider/03.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/slider1/slide1.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/xslider/01.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/slider1/slide2.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/june/006.jpg", alt="")
        .juneSlider__item
          a(href="#")
            img(src="assets/img/xslider/01.jpg", alt="")

mixin sliderSwiperInMain
  .julySlider__area.w0
    .sliderPlus.w1
      .julySlider__outer
        .julySlider.swiper-container
          .swiper-wrapper
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/june/001.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/xslider/03.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/june/003.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/xslider/01.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/xslider/04.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/june/006.jpg", alt="")
            .julySlider__item.swiper-slide
              a(href="#")
                img(src="assets/img/xslider/01.jpg", alt="")
        .julySlider__pag
          .julySlider__Prev
            i.icon-arr-left1
          .julySlider__pagination
          .julySlider__Next
            i.icon-arr-right1
      .promoBox1__area
        a.promoBox1(href="")
          img.creative1(src="assets/img/creative/ng1.jpg", alt="")
          img.creative2(src="assets/img/creative/m22-1200х150.jpg", alt="")
          img.creative3(src="assets/img/creative/m22-600х150.jpg", alt="")


