mixin wideBlock
  .wideBlock__area.w0
    .wideBlock.w1
      a.wideBlock__link(href="")
        img.creative2_all(src="assets/img/creative/m22-1200х150.jpg", alt="")
        img.creative3(src="assets/img/creative/m22-600х150.jpg", alt="")