- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
//- include __header2
include __header3
include __menu
include __mainTop
include __card
include __mainProblem
include __slider1
include __wideBlock
include __mainBox
include __blog
include __news
include __newsInMain
include __forms
include __footer
include __menuBottom1




<!DOCTYPE html>
html(lang="ru-RU")
  +head
  body

    .site__header.mainPageIdx
      +header3
      //- +topMenu
      //- +mbMenu-01-2021

    .site__center
      +mainTop
      .wideBox3__area 
        .wideBox3
          .title3
              h2 Популярные процедуры  
          //- +card3
          +eCard
          +eCardApp
      //- +mainProblem
      //- +sliderSwiperInMain
      //- +testBlock
      //- +wideBlock
      //- +mainBox
      +mainContent
      .wideBox3__area 
        .wideBox3
          .title3
              h2 Блог нашего центра
      +blogSlider
      +mainForm_v3
      //- +newsInMain
      //- +zBlock1

    .site__footer
      +footer3 


    +topMenuAdaptive
    +search1

    +toUp

    +formCallBack

    +formConsInMain

    +menuBottom1_main
    +hideBox
    
    +scripts
    
