- var pageTitle = 'Страница одного бренда'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __card
include __header
include __menu
include __eShopMenu
include __eShopCatalogFloat
include __eFilter
include __eFilterMobile
include __pagination
include __eFilter
include __mainTop
include __mainProblem
include __breadcrumbs
include __wideBlock
include __services
include __forms

include __footer

include __brandPage

include __old
include __popUpBlocks


<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    //- +topMenu


  .site__center
    +breadcrumbs4
    +brandIntro
    +catalogX
    +zBlock3

  .site__footer
    +footer3

  +popUpBlocks
  +scripts
  
