- var pageTitle = 'Контакты'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __breadcrumbs
include __wideBlock
include __contacts

include __forms
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +topMenu

  .site__center
    +breadcrumbs
    +wideBlock
    
    +contacts
  .site__footer
    +footer

  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
  +scripts
  
