- var pageTitle = 'Контакты'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __breadcrumbs
include __wideBlock
include __contacts

include __forms
include __footer

include __old
include __popUpBlocks




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
  .site__center
    +breadcrumbs4
    +wideBlock
    
    +contacts
  .site__footer
    +footer3

  +popUpBlocks
  script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
  +scripts
  
