- var pageTitle = 'Страница товара магазина'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __eShopTovarPage
include __pagination
include __mainTop
include __mainProblem
include __breadcrumbs
include __services
include __forms

include __footer

include __old
include __popUpBlocks




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    +breadcrumbs4
 
    +eShopTovar

    .wsite
      +tovarSimilarCaroucel
      +tovarSimilarCaroucel2

    +advantage
   
    //- +zBlock3

  .site__footer
    +footer3



  +popUpBlocks
  +scripts
  
