- var pageTitle = 'Корзина'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __eShopTovarPage
include __pagination
include __mainTop
include __mainProblem
include __breadcrumbs
include __eShopCartPage
include __services
include __forms

include __footer

include __old

include __popUpBlocks




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    +breadcrumbs4
 
    .eShopCart__pageArea.wsite
      .eShopCart__pageOuter
        .title
          h1 Корзина
        .eShopCart__split
          .eShopCart__splitLeft
            +eShopCart
          .eShopCart__splitRight
        
        .cart__refundInfo
        +order

  .site__footer
    +footer3


  +popUpBlocks
  +scripts
  
