- var pageTitle = 'Каталог товаров'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __card
include __header3
include __menu
include __eShopMenu
include __eShopCatalog
include __eFilter
include __eFilterMobile
include __pagination
include __eFilter
include __mainTop
include __mainProblem
include __breadcrumbs
include __wideBlock
include __services
include __forms

include __footer
include __menuBottom1




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header3
    //- +topMenu


  .site__center
    +breadcrumbs3

    .split__area
      .split_top
        //- .split__wide
        .eBrands__area
          .eBrands__overlay 
          .eBrands__btn Бренды
          .eBrands__content
            .eBrands__contentInner.eBrands__contentInner_scroll
              +brands

        .eGreyLine__mbBtnSortOuter
          .eGreyLine__mbBtnSort
            span Сортировать по
        .eGreyLine__mbBtnFiltrOuter
          .eGreyLine__mbBtnFiltr
            span Фильтры
            i.icon-filter
        .eGreyLine__outer
          .eGreyLine
            .eSort__areaWrapper
              .eSort__areaOuter
                .eSort__area_mb
                  +eSortMb
              .eSort__area 
                .eSort__item.eSort__title Сортировать по
                .eSort__item
                  span По популярности
                  i.icon-arrow-up2
                .eSort__item
                  span По цене
                  i.icon-arrow-up2
                .eSort__item
                  span По алфавиту
                  i.icon-arrow-up2
            .searchResult__counter 
              span Найдено товаров:
              span 256
      .split 
        .split__left 
          +eShopMenuCatalogOnly
          +eFilterArea
        .split__right
          .eCatalog
            +eCatalog
            +pagiantion

   
    +zBlock3

  .site__footer
    +footer3


  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  +menuBottom1_page

  //- далее вывод не на главной
  +hideBox2

  +eFilerMobile

  +scripts
  
