- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __popUpBlocks
include __mainTop


//- include __popUpBlocks


<!DOCTYPE html>
html(lang="ru-RU")
+head
body

  .site__header
    +header

  .site__center
    +mainTop
    

  .site__footer
      


  +toUp
  +popUpBlocks
  +scripts

    
