- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __popUpBlocks
include __mainTop
include __card
include __mainBox
include __news
include __forms
include __footer

include __old


<!DOCTYPE html>
html(lang="ru-RU")
+head
body

  .site__header
    +header

  .site__center.mainPageIdx
    +mainTop
    .wideBlock__area
      .wideBlock.wsite
        .title.title1 
          h2 Популярные процедуры
        +eCard_inMain
    .wideBlock__area
      .wideBlock.wsite
        +mainContent
    .wideBlock__area
      .wideBlock.wsite
        .title.title1 
          h2 Блог нашего центра
    +blogSlider
    +mainForm_v3
    

  .site__footer
    +footer3
      


  +popUpBlocks
  +scripts

    
