- var pageTitle = 'Процедуры'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __card
include __header3
include __menu
include __eShopMenu
include __mainTop
include __mainProblem
include __breadcrumbs
include __wideBlock
include __services
include __forms

include __footer
include __menuBottom1




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header3
    //- +topMenu


  .site__center
    +breadcrumbs3
    +wideBlock
    
    .dubleBox3__area 
      .dubleBox3
        .dubleBox3__left 
          //- +leftMenuSuperTree
          +eShopMenu
        .dubleBox3__right
          .title0 
            h1 Заголовок страницы
          +card3
    +zBlock3

  .site__footer
    +footer3


  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  +menuBottom1_page

  //- далее вывод не на главной
  +hideBox

  +scripts
  
