- var pageTitle = 'Страница мастера'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header3
include __menu
include __breadcrumbs
include __wideBlock

include __master

include __forms
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header3
  


  .site__center
    +breadcrumbs3
    +wideBlock
    +master3




  .site__footer
    +footer


  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  +scripts
  
