- var pageTitle = 'Новости'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __mainBox
include __news
include __forms
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    +topMenu

  .site__center
    +news
    +zBlock1

  .site__footer
    +footer


  +topMenuAdaptive
  +search1

  +toUp

  +formCallBack

  +scripts
  
