- var pageTitle = 'Просто текстовая страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __breadcrumbs
include __wideBlock
include __procedure
include __newBlocks

include __forms
include __footer

include __old




<!DOCTYPE html>
html(lang="ru-RU")
  +head

body

  .site__header
    +header
    //- +topMenu


  .site__center
    +breadcrumbs
    +wideBlock
    
    //- .container.mt-5.mb-5
    .wsite
      .summernote.content
      button.saveTextCode Сохранить

    
  .site__footer
    +footer3


  +topMenuAdaptive
  +search1

  +toUp
  
  +formCallBack

  +scripts
  
