- var pageTitle = 'Просто текстовая страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __menu
include __breadcrumbs
include __wideBlock
include __procedure
include __newBlocks

include __forms
include __footer

include __old

include __popUpBlocks




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header
    //- +topMenu


  .site__center
    +breadcrumbs4
    //- +wideBlock
    
    .textPage__area
      .textPage__outer.wsite
        //- .title1
        //-   h1 Лазерная эпиляция
        .textPage.clearfix
          .content
            +tempContent
        //- +promoTovar
        //- .textPage.clearfix
        //-   .content
        //-     +tempContent
        //- +outerLinkBox
        //- +pageContainer
        //- .block__video
        //-   .title1
        //-     h2 Видео
        //-   +videogallery
        //- .block__photo
        //-   .title1
        //-     h2 Фото
        //-   +gallery

    
    //- +zBlock1

  .site__footer
    +footer3

  +popUpBlocks
  +scripts
  
